*.pyc
localsettings.py
doc/build
parser.out
parsetab.py
build/
dist/
openemory/harvest
openemory/test-results

test-results
.coverage
nosetests.xml
publications_csv.csv

openemory/openemory_athom09

openemory/reports
.DS_Store
