{% load humanize %}

<style>
.mx-banner{
  border-radius: 0;
  border: 0;
  color: #FFFFFF;
  margin-bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  display: inline-block;
}

.mx-banner h4,
.mx-banner p{
  color: #FFFFFF;
  opacity:0.8;
}

.mx-banner .mx-content,
.mx-banner .mx-footer{
  background-color: #EC407A;
  padding: 15px;
  padding-bottom:0;
  margin:0;
  position: relative;
  float: left;
  width: 100%;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
  -webkit-background-size: 300px 300px;
  background-size: 300px 300px;
}

#mx-warning-icon {
  background-color: #FF8BB2;
  border-radius: 50%;
  color: #AE0A4B;
  display: inline;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-right: 6px;
  margin-top: -10px;
  padding: 2px 13px;
}

.mx-banner .mx-close{
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  color: #000;
  color: inherit;
  cursor: pointer;
  filter: alpha(opacity=20);
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: .33;
  padding: 0;
  position: absolute;
  right: 21px;
  text-shadow: 0 1px 0 #fff;
  top: 8px;
  z-index:100;
}

.mx-banner .mx-footer{
  background-color:#D81B60;
  background-position:-59px;
}

.mx-banner .mx-footer p{
  padding-right:15px;
}

</style>

<script>
  function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i=0; i<ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
      }
      return "";
  }
  $(document).ready(function(){
    var mx_cookie = "mx_message_hidden";
    if( getCookie(mx_cookie) ){
      $(".mx-content").hide();
    }

    $(".mx-close").on('click',function(evt){
      evt.preventDefault();
      $(".mx-content").slideToggle(function(){
        if($(".mx-content:visible").length>0){
          document.cookie=mx_cookie+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
        }
        else{
          document.cookie=mx_cookie+"=true; path=/";
        }
      });

    });
  });
</script>

<div class="mx-banner">
  <button type="button" class="mx-close" data-dismiss="alert">×</button>
  <div class="mx-content">
    {% if banner.title %}
    <h4>{{banner.title}}</h4>
    {% endif %}

    <p>{{banner.message}}</p>
  </div>
  <div class="mx-footer">
    <span id="mx-warning-icon">!</span>
    <p><span>The site will be down {{banner.period.start_time|naturaltime}}</span>
      {% if banner.is_active.downtime %}
      <span>for {{banner.is_active.downtime.days}} day{{ banner.is_active.downtime.days|pluralize }}</span>
        {% if banner.is_active.hours %}
        <span>, {{banner.is_active.downtime.hours}} hours{{ banner.is_active.downtime.hours|pluralize }}</span>
        {% endif %}
      {% endif %}
    </p>
  </div>
</div>
