<html>
  <head>
    <title>{% firstof article.descMetadata.content.title article.label %}</title>
    {# meta tags to populate PDF document info metadata #}
    <meta name="author" content="{% for a in article.descMetadata.content.authors %}{{ a.given_name|add:' '|add:a.family_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
    {% if article.descMetadata.content.subjects %}
      <meta name="subject" content="{% for s in article.descMetadata.content.subjects %}{{ s.topic }}{% if not forloop.last %}; {% endif %}{% endfor %}"/>
    {% endif %}
    {% if article.descMetadata.content.keywords %}
      <meta name="keywords" content="{% for k in article.descMetadata.content.keywords %}{{ k.topic }}{% if not forloop.last %}; {% endif %}{% endfor %}"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/local.css"/>
    <style type="text/css">
      @page { margin: 0.75in; } {# specify page size? #}
      hr { margin: 0.25in; width: 80%;}
      h1, h2 { color: black; font-family: Georgia, Helvetica, Serif; }
      #access-info { font-size: 85%; font-style: italic; position: absolute; bottom: 1in;}
      {# using a div as a pseudo-hr to work around CSS hr style issues in pisa #}
      div.hr { border-bottom: solid #002878 2px; margin-bottom: 8px; margin-top: 2px;} 
    </style>
  </head>
  <body>
    <img id="logo" width="7.5in" src="{{ STATIC_URL }}images/logo_hz_280bk.png" alt="OpenEmory"/>

  <div id="article">
    {% include "publication/snippets/article_title.html" %}
    {% include "publication/snippets/article_authors.html" %}
    <div class="hr">&nbsp;</div> 
    {% if article.descMetadata.content.genre == "Article" %}
    {% include "publication/snippets/article_journal.html" %}
    {% elif  article.descMetadata.content.genre == "Book" or  article.descMetadata.content.genre == "Chapter" or  article.descMetadata.content.genre == "Conference" or article.descMetadata.content.genre == "Report"%}
    {% include "publication/snippets/book.html" %}
    {% endif %}
    <div class="hr">&nbsp;</div> 

    
    {# links: ARK, final published version, other versions #}
    {% if article.descMetadata.content.ark_uri %}
      {% with article.descMetadata.content.ark_uri as ark %}
        <p>Permanent URL: <a rel="bookmark" href="{{ ark }}">{{ ark }}</a></p>
      {% endwith %}
    {% endif %}

    {% if article.descMetadata.content.final_version.url %}
      {% with article.descMetadata.content.final_version.url as final_url %}
        <p>Final published version: <a href="{{ final_url }}">{{ final_url }}</a></p>
      {% endwith %}
    {% endif %} {# final version #}


    {% with mods=article.descMetadata.content %}
       {% if mods.copyright or mods.license %}
       <div id="permissions" class="section">
         <h2>Copyright information:</h2>
         <div class="clear"></div>  {# ?!? #}
         {% if mods.license %}<div class="license">
          {{ mods.license.text|urlize }}
             {# if license link is not included in text OR is a creative commons, link to it #}
             {% if mods.license.link and mods.license.link not in mods.license.text or mods.license.is_creative_commons %}
             {% if mods.license.is_creative_commons %} {# use CC image if possible #}
             <p><a class="license-link" href="{{ mods.license.link}}">   
                   <img src="{{ STATIC_URL }}images/cc/{{ mods.license.cc_type }}.png"
                        alt="Creative Commons License"/>
                 {% else %}{% endif %}
               </a></p>    {# TODO: needs styles from local.css #}
             {% endif %} {# end license link #}
           </div> {% endif %} {# end has license #}
       </div>
       {% endif %} {# end permissions #}
     {% endwith %}
  </div>

  <p id="access-info">Accessed {% now "F j, Y g:i A T" %}</p>

  </body>
</html>

