{% extends "site_base.html" %}
{% load tags %}
{% block page-subtitle %} | Article Departments and Divisions{% endblock %}

{% block sidebar %}{% endblock %}
{% block content %}
    <h1 class="title shadow">Browse Articles by Departments or Divisions</h1>
    {% regroup departments by division_name as division_list %}
  {% for div in division_list %}
      {# display division once for all departments in that division #}
      {# if a division has only one department with the same name, collapse them #}
      <div class="division_wrapper">
      {% with first=div.list.0 %}
        <p class="division">
          {% if div.list|length == 1 and first.department_name|lower == div.grouper|lower %}
            <a href="{% url p'ublication:search' %}?department={{first.department_name|urlencode}}">{{ div.grouper }}</a>
          {% if first.total %}({{ first.total }}){% endif %}
          {% else %}{{ div.grouper }}{% endif %}
        </p>
        {% if div.list|length > 1 or first.department_name|lower != div.grouper|lower %}
          {% for d in div.list %}
            <p class="department {% if div.list|length > 5 %}reorder{% endif %}"><a href="{% url 'publication:search' %}?department={{d.department_name|urlencode}}">{{ d.department_name }}</a> {% if d.total %}({{ d.total }}){% endif %}</p> 
          {% endfor %} {# departments #}
        {% endif %}
      {% endwith %}
      </div>
      <br style="clear: left" />
    {% endfor %} {# end division group #}
{% endblock %}
