{% extends "site_base.html" %}
{% load widget_tweaks %}

{% block page-subtitle %}{{ block.super }} | {% firstof article.label article.pid %} | Edit{% endblock %}

{% block style %} {{ block.super }}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/edit.css" /> 
  {% with jqui_theme=STATIC_URL|add:'css/ui-lightness/' %}
    <link rel="stylesheet" type="text/css" href="{{ jqui_theme }}/jquery-ui-1.8.18.custom.css" /> 
  {% endwith %}
{% endblock %}

{% block scripts %} {{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fadingMessage.js"></script>
{# NOTE: livequery required for dynamic dirty form #}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.livequery.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dirtyform.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
     $("input[name='emory-faculty']").autocomplete({
     	source: "{% url accounts:faculty-autocomplete %}",
        select: function(event, ui) {
          var row = $(".author-form:visible:last");  
          {% comment %}  Add a new author form row if:  
             - current forms do not go beyond initial form count (initial data)
             - any inputs on the current last row have been modified (user add + type)
             - id is set (add via auto-complete)
          {% endcomment %}
          if ($(".author-form:visible").length == 
          	$("input[name='authors-INITIAL_FORMS']").val() ||
              row.find("input.changed").length || 
              row.find("input[name$='id']").val() != '') {
             $(".authorsList").find("a.addAuthor").click();  // add an empty form
             row = $(".author-form:visible:last");   // get new last row
          }
          // set input values based on selected item
          row.find("input[name$='id']").val(ui.item.username);
          row.find("input[name$='given_name']").val(ui.item.first_name);
          row.find("input[name$='family_name']").val(ui.item.last_name);
          row.find("input[name$='affiliation']").val(ui.item.affiliation);
          row.find("input").attr("readonly", "readonly").addClass("readonly");
          // clear out autocomplete input value
          this.value = '';
          return false;
        }
      }).data("autocomplete")._renderItem = function(ul, item) {
      	return $("<li></li>")
        	.data("item.autocomplete", item)
                .append("<a>" + item.label + "<span class='description'>" + item.description + "</span></a>")
                .appendTo(ul);
                return false;
      };

      {# category autocomplete, based on jQueryUI autocomplete demo #}
      $.widget( "custom.categorycomplete", $.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
          var self = this,
          currentCategory = "";
          $.each( items, function( index, item ) {
            if ( item.category != currentCategory ) {
              ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
              currentCategory = item.category;
            }
            self._renderItem( ul, item );
          });
        }
      });
      {# autocomplete for subjects #}
      var subject_data = {{ subject_data|safe }};
      $("input[name='research-fields']").categorycomplete({
         delay: 0, 
         appendTo: $("#subjects"),
         source: subject_data,
         select: function(event, ui) {
          {# add a new row if the last one is not empty #}
          if ($(".subject-form:visible:last input[name$='topic']").val() != '') {
             $("#subjects").find("a.addSubject").click();  // add an empty form
          }
          // set input values for last row based on selected item
          var row = $(".subject-form:last");  
          row.find("input[name$='id']").val(ui.item.id);
          row.find("input[name$='topic']").val(ui.item.label);
          // clear out autocomplete input value
          this.value = '';
          return false;
        }
      });

      $(".author-form").formset({
          prefix: "{{ form.formsets.authors.prefix }}",
          addText: "+Add Non-Emory Faculty Member",
          addCssClass: "addAuthor",
          formCssClass: "dynamic-authorformset",
          added: function(row) {
            // ensure newly-added rows are NOT read-only by default
            row.find("input").removeAttr("readonly").removeAttr("tabindex").removeClass("readonly");
            update_alternates($(".authorsList"));
          },
          removed: function(row) {
            update_alternates($(".authorsList"));
          },
          deleteCssClass: "close",
          formTemplate: $("#authorform-template"),
      });
      $(".funding-form").formset({
          prefix: "{{ form.formsets.funders.prefix }}",
          formCssClass: "dynamic-funderformset",
          deleteCssClass: "close", 
          addText: '+ Add Funder', 
          formTemplate: $("#fundingform-template"),
          added: function(row) {
             // enable autocomplete on the newly added input
             row.find("input[name^='funders-']").autocomplete({
	             source: "{% url publication:suggest 'funder' %}",
             });
          }
      });
      $(".subject-form").formset({
          prefix: "{{ form.formsets.subjects.prefix }}",
          formCssClass: "dynamic-subjectformset",
          addText: '',  {# hide add option from user (only add via autocomplete) #}
          addCssClass: 'addSubject',
          // update alternate classes on add/remove
          added: function(row) {
            update_alternates($("#subjects"));
          },
          removed: function(row) {
            update_alternates($("#subjects"));
          },
          deleteCssClass: "close", 
          formTemplate: $("#subjectform-template"),
      });
      $(".other-version-form").formset({
          prefix: "{{ form.formsets.locations.prefix }}",
          formCssClass: "dynamic-locationsformset",
          addText: '+ Add Version',
          addCssClass: 'addLocation',
          deleteCssClass: "close",
          formTemplate: $("#otherversion-template"),
      });
      $(".author-notes-form").formset({
          prefix: "{{ form.formsets.author_notes.prefix }}",
          formCssClass: "dynamic-authornotes-formset",
          addText: '+ Add Note',
          addCssClass: 'addAuthorNote',
          deleteCssClass: "close",
          formTemplate: $("#authornotes-template"),
      });
      $(".keyword-form").formset({
          prefix: "{{ form.formsets.keywords.prefix }}",
          formCssClass: "dynamic-keywords-formset",
          addText: '+ Add Keyword',
          addCssClass: 'addKeyword',
          deleteCssClass: "close",
          formTemplate: $("#keywordform-template"),
          added: function(row) {
            // enable autocomplete on the newly added input
            row.find("input[name^='keywords']").autocomplete({
              source: "{% url publication:suggest 'keyword' %}"
            });  
          }
 
      });

      {# make authors sortable #}
      $("ul.authors").sortable({
         handle: ".sort-handle",
         update: function(event, ui) {
            // renumber django formset order to reflect change
            $("ul.authors li").each(function(index, el) {
               $(this).find("input[name$='ORDER']").val(index + 1);
            });
            update_alternates($(".authorsList"));
         },
      });
      
      {# track changes on the edit form and warn if user tries to leave without saving #}
      $("#edit-form").dirty_form({changeClass: 'changed', dynamic: true }); 
      {# NOTE: could use .changed css class to highlight modified fields #}
      {# warn on browser navigation away from the form with unsaved changes. #}
      window.onbeforeunload = function(){  
        if($('.dirtyform').are_dirty()) { return "You have made changes without saving." }
      } 
      $("#edit-form").bind("submit", function() { 
      	window.onbeforeunload = null;  {# disable dirty form logic on submit #}
        return true; 
      }); 


     {# configure autocomplete fields and corresponding urls #}
     $("input[name^='funders-']:visible").autocomplete({
       source: "{% url publication:suggest 'funder' %}",
     });
     $("input[name^='keywords']:visible").autocomplete({
       source: "{% url publication:suggest 'keyword' %}"
     });
     $("input[name$='affiliation']").autocomplete({
       source: "{% url publication:suggest 'author_affiliation' %}"
     });
     $("input[name='journal-title']").autocomplete({
       source: "{% url publication:suggest 'journal_title' %}",
       select: function(event, ui) {
         $(this).val(ui.item.value);
         $("input[name='journal-issn']").val(ui.item.issn);
         if (ui.item.publisher) {
           $("input[name='journal-publisher']").val(ui.item.publisher);
           {% if perms.publication.review_article %}
           get_publisher_policy_by_name();
           {% endif %}
         }
       }
     });
     $("input[name='journal-publisher']").autocomplete({
       source: "{% url publication:suggest 'journal_publisher' %}",
       select: function(event, ui) {
         $(this).val(ui.item.value);
         {% if perms.publication.review_article %}
         $('#id_journal-publisher').data('copyright-policy', ui.item);
         update_publisher_policy();
         {% endif %}
       }
     });

     {% if perms.publication.review_article %}
       function get_publisher_policy_by_name() {
         var name = $("input[name='journal-publisher']").val();
         if (name) {
           $.ajax({
             url: "{% url publication:publisher-details %}?name=" +
                     encodeURI(name),
             success: function(data) {
               $('#id_journal-publisher').data('copyright-policy', data);
               update_publisher_policy();
             }
           });
         }
       }
       /* and then init this data when loading the page */
       get_publisher_policy_by_name();

       $('#id_version').change(function(){
         update_publisher_policy();
       });

       function update_publisher_policy() {
         var copyright_policy = $('#id_journal-publisher').data('copyright-policy');
         var raw_version = $('#id_version').val();
         var version;
         if (raw_version.toLowerCase().indexOf('preprint') != -1)
           version = 'preprint';
         else if (raw_version.toLowerCase().indexOf('post-print') != -1)
           version = 'postprint';
         else if (raw_version.toLowerCase().indexOf('final') != -1)
           version = 'pdf';

         var policy = copyright_policy[version];
         if (policy.archiving) {
           $('#publisher-copyright-status-value')
             .text(policy.archiving)
             .attr('class', policy.archiving);
         } else {
           $('#publisher-copyright-status-value')
             .text('unknown')
             .attr('class', 'unknown');
         }

         var restrictions = $('#publisher-copyright-restrictions-items');
         restrictions.html('');
         $('#publisher-copyright-restrictions').toggle(policy.restrictions.length > 0);
         for (var i in policy.restrictions) {
           var div = $('<div></div>').html(policy.restrictions[i]);
           restrictions.append(div);
         }
         if (policy.restrictions.length == 0) {
           var div = $('<div></div>').text("none known");
           restrictions.append(div);
         }
       }
     {% endif %}

    {% if perms.publication.review_article %}
      /* toggle withdraw/reinstate reason with the related checkbox.
       * note that these will only be on the page for admins, and then only
       * one will be on the page at a time. the each() is used to silently
       * ignore missing ones. */
      $("#id_withdraw").each(function() {
        $("#withdraw_reason_container").toggle(this.checked);
        $(this).change(function() {
          $("#withdraw_reason_container").toggle(this.checked);
        });
      });
      $("#id_reinstate").each(function() {
        $("#reinstate_reason_container").toggle(this.checked);
        $(this).change(function() {
          $("#reinstate_reason_container").toggle(this.checked);
        });
      });
    {% endif %}

      // prevent enter from submitting form
      disableEnter("#edit-form");

  });
</script>
{% endblock %}

{% block contentdivclass %}document new{% endblock %}

{# start the form before the sidebar, since sidebar includes inputs #}
{% block content-head %}
	<form id="edit-form" method="post" enctype="multipart/form-data">{% csrf_token %}
{% endblock %}


{% block sidebar %}
{% endblock %} {# end sidebar-content #}

{# main content #}
{% block content %}
  <div class="article-edit-wrapper">
    {% include 'publication/snippets/edit_submit.html' with extraclass='top floatRight' %}
    <div class="clearfix"></div>
    <h1 class="floatLeft" style="clear:none;">Citation Information</h1>
    <div class="download-box">
      <ul class="tools">
        {% include "publication/snippets/download_pdf.html" %}
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="citation-form">
      <span class="floatRight rightLabel labelMarginFix">
        <span class="required">*</span>: required
      </span>
      <div class="formWrapper">
        {% if invalid_form %}
        <div class="error">
          <strong>The form could not be processed. Please check below for missing or invalid entries.</strong>
        </div>
        {% endif %}
        {{ form.non_field_errors }}
        <div class="formWhole floatLeft clearNone">
          {% with title_info=form.subforms.title_info %}
            {% include 'publication/snippets/edit_field.html' with field=title_info.title divclass='formWhole floatLeft' %}
          {% endwith %}
          <div class="clearfix"></div>
          {% include 'publication/snippets/article-edit/authors-list.html' %}
          <div class="dblDivider"></div>
        </div>
        {% with journal_info=form.subforms.journal %}
        <div class="formHalf floatLeft">
            <h2>{{ journal_info.form_label }}</h2>
            {% include 'publication/snippets/edit_field.html' with field=journal_info.title divclass='formWhole tip' %}
            {{ journal_info.issn.as_hidden }}
            {% include 'publication/snippets/edit_field.html' with field=journal_info.publisher divclass='formWhole tip' %}
            {% with subforms=journal_info.subforms %}
              {% include 'publication/snippets/edit_field.html' with field=subforms.volume.number divclass='formHalf' label=subforms.volume.form_label %}
              {% include 'publication/snippets/edit_field.html' with field=subforms.number.number divclass='formHalf tip' label=subforms.number.form_label %}
            {% endwith %}
            {# article version (pre-print, post-print) #}
            {% include "publication/snippets/edit_field.html" with field=form.version divclass="formThird" %}
            {% if perms.publication.review_article %}
              <div id="publisher-copyright-status" class="formThird">
                <label>Archiving</label>
                <div id="publisher-copyright-status-value" class="unknown">unknown</div>
              </div>
              <!-- inline style here should be overridden by jq toggle() on load -->
              <div id="publisher-copyright-restrictions" class="clearLeft"
                  style='display:none'>
                <label>Publisher Restrictions</label>
                <div id="publisher-copyright-restrictions-items">
                  <div>none known</div>
                </div>
              </div>
            {% endif %}
        </div>
        {% endwith %}
        <div class="formHalf floatRight">
          <h2>Publication Date:</h2>
          {{ form.publication_date }}
          <div class="clearfix"></div>
          {{ form.publication_date.errors }}
          
          {% with form.subforms.journal.subforms.pages as subform %}
          <div class="formHalf floatLeft">
            {{ subform.non_field_errors }}
            <h2>{{ subform.form_label }}</h2>
            <label for="{{ subform.start.name }}" class="third">Start</label> <span>to</span>
            <label for="{{ subform.end.name }}" class="third">End</label>
            <div class="clearfix"></div>
            {{ subform.start|add_class:"third" }} <span>to</span> {{ subform.end|add_class:"third" }}
          </div>
          <div class="formHalf floatRight">
            {% include 'publication/snippets/edit_field.html' with field=form.language_code divclass='formWhole' %}
            {% include 'publication/snippets/edit_field.html' with field=form.embargo_duration divclass='formWhole' %}
          </div>
          {% endwith %}
        </div>
        <div class="clearfix"></div>
      </div><!-- /formWrapper -->
    </div><!-- /citation-form -->
    <h1>Links to Final Published Version</h1>
    <div class="citation-form">
      <div class="formWrapper">
        {% include "publication/snippets/edit_field.html" with field=form.subforms.final_version.url divclass="formHalf floatLeft" label=form.subforms.final_version.form_label %}
        {% with form.subforms.final_version as final %}
          {% include "publication/snippets/edit_field.html" with field=final.doi divclass="formHalf floatRight tip" %}
        {% endwith %}
      </div>
    </div>
    <h1>Additional Descriptive Information</h1>
    <div class="citation-form">
      <div class="formWrapper">
        {# keywords #}
        <div class="formHalf floatLeft">
          {% with keywordforms=form.formsets.keywords %}
          <h2 class="shadowLight">{{ keywordforms.form_label }}
            {% if keywordforms.form.help_text %}
            <a class="tip" title="{{ keywordforms.form.help_text }}"></a>
            {% endif %}
          </h2>
          <div class="formWhole close">
            {% for keyword in keywordforms %}
            <div class="keyword-form">
              {{ keyword.topic }}
              {% if forloop.counter <= form.formsets.keywords.initial_form_count %}{{ funder.DELETE }}{% endif %}
            </div>
            {% endfor %}
            {% with keyword=keywordforms.empty_form %}
            <div id="keywordform-template" class="keyword-form" style="display:none;">
              {{ keyword.topic }}
            </div>
            {% endwith %}
            {{ keywordforms.management_form }}
          </div>
          {% endwith %}
        </div><!-- /keywords -->
        {# subjects/research fields #}
        <div class="formHalf floatRight">
          <div id="subjects">
            {% comment %} NOTE: this may look a little funny with no first subject, but 
            jquery formset plugin doesn't work properly without a first entry to clone. {% endcomment %}

            <h2>{{ form.formsets.subjects.form_label }} {# ?? <a class="tip" href=""></a> #}</h2>
            <div class="clear"></div>
            {% if subjectform.non_field_errors %}
            <span class="errors">{{ subjectform.non_field_errors }}</span>
            {% endif %}
            <ul class="subjects altList">
              {% for subjectform in form.formsets.subjects %} 
              <li class="subject-form {% cycle 'alternate' '' %}">
                {{ subjectform.id.errors }}{{ subjectform.id }}{# (hidden id) #} 
                <strong>{{ subjectform.topic }}</strong> {{ subjectform.topic.help_text }}
                {% if forloop.counter <= form.formsets.subjects.initial_form_count %}
                  {{ subjectform.DELETE }} {# only delete if in original formset #}
                {% endif %}
              </li>
              {% endfor %}
              {% with subjectform=form.formsets.subjects.empty_form %}
              <li id="subjectform-template" class="subject-form" style="display:none">
                 {{ subjectform.id }}
                 <strong>{{ subjectform.topic }}</strong>
              </li>
              {% endwith %}
            </ul>
            {{ form.formsets.subjects.management_form }} 
          </div>
          <div class='normaltext'>
            {# jquery ui autocomplete field for selecting subjects #}
            You can select from a list of subjects to classify your article. Start typing, and selections will appear.
            <input id="subject-autocomplete" name="research-fields" type="text"/>
          </div>
        </div><!-- /subjects -->
        <div class="clearfix"></div>
        {# author notes #}
        <div class="formHalf floatLeft notes">
          <h2 class="shadowLight">{{ form.formsets.author_notes.form_label }}
            {# TODO: help text for author_notes ? <a href="" class="tip"></a>#}</h2>
          <div class="formWhole close">
            {% for authornote in form.formsets.author_notes %}
            <div class="author-notes-form">
              {{ authornote.text }}l
              {% if forloop.counter <= form.formsets.author_notes.initial_form_count %}{{ funder.DELETE }}{% endif %}
            </div>
            {% endfor %}
            {% with authornote=form.formsets.author_notes.empty_form %}
            <div id="authornotes-template" class="author-notes-form" style="display:none">
              {{ authornote.text }}
            </div>
            {% endwith %}
            {{ form.formsets.author_notes.management_form }} 
          </div>
        </div><!-- /abstract -->
        {# funding agency #}
        <div class="formHalf floatright notes">
          <h2 class="shadowLight">{{ form.formsets.funders.form_label }}
            {% if form.formsets.funders.form.help_text %}
            <a class="tip" title="{{ form.formsets.funders.form.help_text }}"></a>
            {% endif %}
          </h2>
          <div class="formWhole close">
            {% for funder in form.formsets.funders %}
            <div class="funding-form">
              {{ funder.name }}
              {% if forloop.counter <= form.formsets.funders.initial_form_count %}{{ funder.DELETE }}{% endif %}
            </div>
            {% endfor %}
            {% with funder=form.formsets.funders.empty_form %}
            <div id="fundingform-template" class="funding-form" style="display:none">
                {{ funder.name }}
            </div>
            {% endwith %}
            {{ form.formsets.funders.management_form }} 
          </div>
        </div><!-- /funding -->
        {# abstract #}
        {% include "publication/snippets/edit_field.html" with field=form.subforms.abstract.text divclass="formWhole" label=form.subforms.abstract.form_label additional_text="Please type, cut & paste, or drag & drop abstract text from your article PDF."%}
                  </div>
        <!-- License -->
        {% include 'publication/snippets/edit_field.html' with field=form.license divclass='formWhole' %}

      </div><!-- /formWrapper -->
      {% if perms.publication.review_article %}
        <div id="mark-reviewed" class="formWhole">
          {% if article.provenance.content.review_event %}
            <p class="info">{{ article.provenance.content.review_event.detail }} on 
            {{ article.provenance.content.review_event.date }}</p>
          {% else %}
            <label for="id_{{ form.reviewed.id }}">{{ form.reviewed.label }}:</label>
            {{ form.reviewed }} 
            <p class="helptext">{{ form.reviewed.help_text }}</p>
          {% endif %}
        </div>

        {% if article.state == 'A' %} {# has to be published too #}
              <div id="mark-featured" class="formWhole">
              <label for="id_{{ form.featured.id }}">{{ form.featured.label }}:</label>
                {{ form.featured }}
                <p class="helptext">{{ form.featured.help_text }}</p>
            </div>
        {% endif %}

        <div id="mark-withdrawn" class="formWhole">
          {% if article.is_withdrawn %}
            {% with article.provenance.content.last_withdraw as withdraw_event %}
              <p class="info">{{ withdraw_event.detail }} on {{ withdraw_event.date }}</p>
            {% endwith %}

            <label for="id_{{ form.reinstate.id }}">{{ form.reinstate.label }}:</label>
            {{ form.reinstate }} 
            <a class="tip" title="{{ form.reinstate.help_text }}"></a>

            {% comment %}
              mark this as required even though technically it's not.
              technically it's required if and only if the related checkbox
              is checked. since js above makes sure that this is *visible*
              only if the checkbox is checked, it's effectively required
              whenever it's visible.
            {% endcomment %}
            <div id="reinstate_reason_container" class="{{ form.reinstate_reason.css_classes }}">
              <label for="id_{{ form.reinstate_reason.id }}">{{ form.reinstate_reason.label }}: <span class='required'>*</span></label>
              {{ form.reinstate_reason }} 
              <a class="tip" title="{{ form.reinstate_reason.help_text }}"></a>
              {% if form.reinstate_reason.errors %}
                <p class="error">{{ form.reinstate_reason.errors }}</p>
              {% endif %}
            </div>
          {% else %}
            <label for="id_{{ form.withdraw.id }}">{{ form.withdraw.label }}:</label>
            {{ form.withdraw }} 
            <a class="tip" title="{{ form.withdraw.help_text }}"></a>

            {% comment %}
              mark this as required even though technically it's not.
              technically it's required if and only if the related checkbox
              is checked. since js above makes sure that this is *visible*
              only if the checkbox is checked, it's effectively required
              whenever it's visible.
            {% endcomment %}
            <div id="withdraw_reason_container" class="{{ form.withdraw_reason.css_classes }}">
              <label for="id_{{ form.withdraw_reason.id }}">{{ form.withdraw_reason.label }}: <span class='required'>*</span></label>
              {{ form.withdraw_reason }} 
              <a class="tip" title="{{ form.withdraw_reason.help_text }}"></a>
              {% if form.withdraw_reason.errors %}
                <p class="error">{{ form.withdraw_reason.errors }}</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div><!-- /citation-form -->
    {% include 'publication/snippets/edit_submit.html' with extraclass='top floatRight' %}
    <div class="clearfix"></div>
  </div><!-- /article-edit-wrapper -->
{% endblock %}
{# end main content #}
