{% extends "site_base.html" %}

{% block page-subtitle %}{{ block.super }} | {% firstof article.label article.pid %} | Edit{% endblock %}
{% block style %} {{ block.super }}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/edit.css" /> 
  {% with jqui_theme=STATIC_URL|add:'css/ui-lightness/' %}
   <link rel="stylesheet" type="text/css" href="{{ jqui_theme }}/jquery-ui-1.8.18.custom.css" /> 
   {% endwith %}
{% endblock %}
{% block scripts %} {{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fadingMessage.js"></script>
{# NOTE: livequery required for dynamic dirty form #}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.livequery.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dirtyform.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script> 
<script type="text/javascript">
  $(document).ready(function() {
     $("input[name='emory-faculty']").autocomplete({
     	source: "{% url accounts:faculty-autocomplete %}",
        select: function(event, ui) {
          var row = $(".author-form:visible:last");  
          {% comment %}Add a new author form row if:  
             - current forms do not go beyond initial form count (initial data)
             - any inputs on the current last row have been modified (user add + type)
             - id is set (add via auto-complete)
          {% endcomment %}
          if ($(".author-form:visible").length == 
          	$("input[name='authors-INITIAL_FORMS']").val() ||
              row.find("input.changed").length || 
              row.find("input[name$='id']").val() != '') {
             $(".authorsList").find("a.addAuthor").click();  // add an empty form
             row = $(".author-form:visible:last");   // get new last row
          }
          // set input values based on selected item
          row.find("input[name$='id']").val(ui.item.username);
          row.find("input[name$='given_name']").val(ui.item.first_name);
          row.find("input[name$='family_name']").val(ui.item.last_name);
          row.find("input[name$='affiliation']").val(ui.item.affiliation);
          row.find("input").attr("readonly", "readonly").addClass("readonly");
          // clear out autocomplete input value
          this.value = '';
          return false;
        }
      }).data("autocomplete")._renderItem = function(ul, item) {
      	return $("<li></li>")
        	.data("item.autocomplete", item)
                .append("<a>" + item.label + "<span class='description'>" + item.description + "</span></a>")
                .appendTo(ul);
                return false;
      };

      {# category autocomplete, based on jQueryUI autocomplete demo #}
      $.widget( "custom.categorycomplete", $.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
          var self = this,
          currentCategory = "";
          $.each( items, function( index, item ) {
            if ( item.category != currentCategory ) {
              ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
              currentCategory = item.category;
            }
            self._renderItem( ul, item );
          });
        }
      });
      {# autocomplete for subjects #}
      var subject_data = {{ subject_data|safe }};
      $("input[name='research-fields']").categorycomplete({
         delay: 0, 
         appendTo: $("#subjects"),
         source: subject_data,
         select: function(event, ui) {
          {# add a new row if the last one is not empty #}
          if ($(".subject-form:visible:last input[name$='topic']").val() != '') {
             $("#subjects").find("a.addSubject").click();  // add an empty form
          }
          // set input values for last row based on selected item
          var row = $(".subject-form:last");  
          row.find("input[name$='id']").val(ui.item.id);
          row.find("input[name$='topic']").val(ui.item.label);
          // clear out autocomplete input value
          this.value = '';
          return false;
        }
      });

      $(".author-form").formset({
          prefix: "{{ form.formsets.authors.prefix }}",
          addText: "+ Add Author",
          addCssClass: "addAuthor",
          formCssClass: "dynamic-authorformset",
          added: function(row) {
            // ensure newly-added rows are NOT read-only by default
            row.find("input").removeAttr("readonly").removeAttr("tabindex").removeClass("readonly");
            update_alternates($(".authorsList"));
          },
          removed: function(row) {
            update_alternates($(".authorsList"));
          },
          {# deleteCssClass: "close",  enable when we get icon #}
          deleteText: "[x]", 
          formTemplate: $("#authorform-template"),
      });
      $(".funding-form").formset({
          prefix: "{{ form.formsets.funders.prefix }}",
          formCssClass: "dynamic-funderformset",
          {# deleteCssClass: "close", enable when we get icon #}
          deleteText: "[x]",
          addText: '+ Add Funder', 
          formTemplate: $("#fundingform-template"),
          added: function(row) {
             // enable autocomplete on the newly added input
             row.find("input[name^='funders-']").autocomplete({
	             source: "{% url publication:suggest 'funder' %}",
             });
          }
      });
      $(".subject-form").formset({
          prefix: "{{ form.formsets.subjects.prefix }}",
          formCssClass: "dynamic-subjectformset",
          addText: '',  {# hide add option from user (only add via autocomplete) #}
          addCssClass: 'addSubject',
          // update alternate classes on add/remove
          added: function(row) {
            update_alternates($("#subjects"));
          },
          removed: function(row) {
            update_alternates($("#subjects"));
          },
          {# deleteCssClass: "close", enable when we get icon #}
          deleteText: "[x]",
          formTemplate: $("#subjectform-template"),
      });
      $(".other-version-form").formset({
          prefix: "{{ form.formsets.locations.prefix }}",
          formCssClass: "dynamic-locationsformset",
          addText: '+ Add Version',
          addCssClass: 'addLocation',
          {# deleteCssClass: "close", enable when we get icon #}
          deleteText: "[x]",
          formTemplate: $("#otherversion-template"),
      });
      $(".author-notes-form").formset({
          prefix: "{{ form.formsets.author_notes.prefix }}",
          formCssClass: "dynamic-authornotes-formset",
          addText: '+ Add Note',
          addCssClass: 'addAuthorNote',
          {# deleteCssClass: "close", enable when we get icon #}
          deleteText: "[x]",
          formTemplate: $("#authornotes-template"),
      });
      $(".keyword-form").formset({
          prefix: "{{ form.formsets.keywords.prefix }}",
          formCssClass: "dynamic-keywords-formset",
          addText: '+ Add Keyword',
          addCssClass: 'addKeyword',
          {# deleteCssClass: "close", enable when we get icon #}
          deleteText: "[x]",
          formTemplate: $("#keywordform-template"),
          added: function(row) {
            // enable autocomplete on the newly added input
            row.find("input[name^='keywords']").autocomplete({
              source: "{% url publication:suggest 'keyword' %}"
            });  
          }
 
      });
      
      {# track changes on the edit form and warn if user tries to leave without saving #}
      $("#edit-form").dirty_form({changeClass: 'changed', dynamic: true }); 
      {# NOTE: could use .changed css class to highlight modified fields #}
      {# warn on browser navigation away from the form with unsaved changes. #}
      window.onbeforeunload = function(){  
        if($('.dirtyform').are_dirty()) { return "You have made changes without saving." }
      } 
      $("#edit-form").bind("submit", function() { 
      	window.onbeforeunload = null;  {# disable dirty form logic on submit #}
        return true; 
      }); 


     {# configure autocomplete fields and corresponding urls #}
     $("input[name^='funders-']:visible").autocomplete({
     	source: "{% url publication:suggest 'funder' %}",
      });
     $("input[name='journal-title']").autocomplete({
     	source: "{% url publication:suggest 'journal_title' %}"
      });
     $("input[name='journal-publisher']").autocomplete({
     	source: "{% url publication:suggest 'journal_publisher' %}"
      });
     $("input[name^='keywords']:visible").autocomplete({
     	source: "{% url publication:suggest 'keyword' %}"
      });
     $("input[name$='affiliation']").autocomplete({
     	source: "{% url publication:suggest 'author_affiliation' %}"
      });

      {# author form uses initial values as labels for manually entered names;  #}
      {# when those inputs receive focus, clear out initial value #}
      {# FIXME: there must be a better way to do this #}
      $(".author-form input[name$='given_name']").livequery('focus', function(){
        if ($(this).val() == 'first name') { $(this).val(''); }
      });
      $(".author-form input[name$='family_name']").livequery('focus', function(){
        if ($(this).val() == 'last name') { $(this).val(''); }
      });
      $(".author-form input[name$='affiliation']").livequery('focus', function(){
        if ($(this).val() == 'affiliation') { $(this).val(''); }
      });
  });
</script>
{% endblock %}

{% block contentdivclass %}document new{% endblock %}

{# start the form before the sidebar, since sidebar includes inputs #}
{% block content-head %}
<form id="edit-form" method="post" enctype="multipart/form-data">{% csrf_token %}
{% endblock %}


{% block sidebar-title %}About this item:{% endblock %}
{% block sidebar-content %}
    <div class="formWrapper">
      {# author notes #}
      <h2 class="shadowLight">{{ form.formsets.author_notes.form_label }}
        {# TODO: help types for author_notes ? <a href="" class="tip"></a>#}</h2>
      <div class="formWhole">
        {% for authornote in form.formsets.author_notes %}
        <div class="author-notes-form">
          {{ authornote.text }}
          {% if forloop.counter <= form.formsets.author_notes.initial_form_count %}{{ funder.DELETE }}{% endif %}
        </div>
        {% endfor %}
        {% with authornote=form.formsets.author_notes.empty_form %}
        <div id="authornotes-template" class="author-notes-form" style="display:none">
          {{ authornote.text }}
        </div>
        {% endwith %}
        {{ form.formsets.author_notes.management_form }} 
      </div>

      {# funding agency #}
      <h2 class="shadowLight">{{ form.formsets.funders.form_label }}
        {% if form.formsets.funders.form.help_text %}
           <a class="tip" title="{{ form.formsets.funders.form.help_text }}"></a>
        {% endif %}
      </h2>
      <div class="formWhole">
        {% for funder in form.formsets.funders %}
          <div class="funding-form">
            {{ funder.name }}
            {% if forloop.counter <= form.formsets.funders.initial_form_count %}{{ funder.DELETE }}{% endif %}
        </div>
        {% endfor %}
        {% with funder=form.formsets.funders.empty_form %}
          <div id="fundingform-template" class="funding-form" style="display:none">
              {{ funder.name }}
          </div>
        {% endwith %}
        {{ form.formsets.funders.management_form }} 
      </div>

      {# keywords #}
      {% with keywordforms=form.formsets.keywords %}
        <h2 class="shadowLight">{{ keywordforms.form_label }}
        {% if keywordforms.form.help_text %}
           <a class="tip" title="{{ keywordforms.form.help_text }}"></a>
        {% endif %}
        </h2>
        <div class="formWhole">
          {% for keyword in keywordforms %}
            <div class="keyword-form">
              {{ keyword.topic }}
              {% if forloop.counter <= form.formsets.keywords.initial_form_count %}{{ funder.DELETE }}{% endif %}
           </div>
          {% endfor %}
          {% with keyword=keywordforms.empty_form %}
            <div id="keywordform-template" class="keyword-form" style="display:none">
              {{ keyword.topic }}
            </div>
          {% endwith %}
          {{ keywordforms.management_form }}
      </div>
      {% endwith %} {# end keyword formset #}

    </div> {# end formWrapper #}

{% comment %}{# no such feature exists #}
  <div class="messageAdmins">
    <div class="formWrapper">
      <h2 class="shadowLight">Message to Administrators<a href="" class="tip"></a></h2>
      <div class="formWhole">
      <textarea name="message">message here</textarea></div>
    </div>
  </div>
{% endcomment %}

{% endblock %} {# end sidebar-content #}


{% block content %}


{# main portion of the content #}
<div class="right">
  {% include 'publication/snippets/edit_submit.html' with extraclass='top' %}

  <div class="clear"></div>
  <div class="left"> 

{% if invalid_form %}
  <p class="error">The form could not be processed.  Please check below
  for missing or invalid entries.</p>
{% endif %}

  {{ form.non_field_errors }}

    <div class="formWrapper">
    <span class="required floatRight">required *</span> 
    {# title #}
      {% with title_info=form.subforms.title_info %}
      {% include "publication/snippets/edit_field.html" with field=title_info.title divclass="formWhole" %}
      {% include "publication/snippets/edit_field.html" with field=title_info.subtitle divclass="formWhole" %}
      {% include "publication/snippets/edit_field.html" with field=title_info.part_number divclass="formQuarter" %}
      {% include "publication/snippets/edit_field.html" with field=title_info.part_name divclass="formThreeQuarter last" %}
    {% endwith %} {# title info subform #}
      <div class="clear"></div>
      <span class="dblDivider">
      </span>
      <div class="clear"></div>
      {# authors #}
      <div class="authorsList">
        <h2>{{ form.formsets.authors.form_label }}
        {% if form.formsets.authors.form.help_text %}
           <a class="tip" title="{{ form.formsets.authors.form.help_text }}"></a>
        {% endif %}
        </h2>
        <div class="clear"></div>
        {% if authorform.non_field_errors %}
          <p class="errors">{{ authorform.non_field_errors }}</p>
          {% endif %}
        <ul class="authors altList">
          {% for authorform in form.formsets.authors %} 
          <li class="author-form {% cycle 'alternate' '' %}">
            {# TODO: make id visible somehow for reviewers? #}
             {{ authorform.id.errors }}{{ authorform.id }}{# (hidden id) #} 
             <strong>
               <span class="formThird {{ authorform.family_name.css_classes }}">{{ authorform.family_name }}</span>
               <span class="formQuarter {{ authorform.given_name.css_classes }}">{{ authorform.given_name }}</span>
             </strong>
             <span class="formThird tip {{ authorform.affiliation.css_classes }}">
               {{ authorform.affiliation }}
               {% if forloop.counter <= form.formsets.authors.initial_form_count %}
                 {{ authorform.DELETE }} {# only delete if in original formset #}
               {% endif %}
             </span>
             {# FIXME: how to handle in this layout ? #}
             {{ authorform.family_name.errors }}
             {{ authorform.given_name.errors }} 
             {{ authorform.affiliation.errors }}
          </li>
          {% endfor %}
          {# form template for jquery.formset #}
          {% with authorform=form.formsets.authors.empty_form %}
           <li id="authorform-template" class="author-form" style="display:none">
             {{ authorform.id }}
             <strong>
               <span class="formThird {{ authorform.family_name.css_classes }}">{{ authorform.family_name }}</span>
               <span class="formQuarter {{ authorform.given_name.css_classes }}">{{ authorform.given_name }}</span>
             </strong>
             <span class="formThird tip {{ authorform.affiliation.css_classes }}">
               {{ authorform.affiliation }}
             </span>
          </li>
          {% endwith %}
        </ul>
        {{ form.formsets.authors.management_form }} 

        Start typing Emory co-author names and select from suggestions:  
        <input class="author-autocomplete" name="emory-faculty"/>
        
      </div>
      <div class="clear"></div>
      <span class="dblDivider">
      </span>

    {% with journal_info=form.subforms.journal %}
      <h2>{{ journal_info.form_label }}{# ? <a class="tip" href=""></a>#}</h2>
      {% include "publication/snippets/edit_field.html" with field=journal_info.title divclass="formWhole tip" %}
      {% include "publication/snippets/edit_field.html" with field=journal_info.publisher divclass="formWhole tip" %}
      {% with subforms=journal_info.subforms %}
        {% include "publication/snippets/edit_field.html" with field=subforms.volume.number divclass="formQuarter" label=subforms.volume.form_label %}
        {% include "publication/snippets/edit_field.html" with field=subforms.number.number divclass="formQuarter tip" label=subforms.number.form_label  %}

      <h2>Publication:</h2>
      {{ form.publication_date }} {# labels/formatting handled in widget #}
      <div class="formFifth range tip">
        {% with form.subforms.journal.subforms.pages as subform %} {# pages #}
          {{ subform.non_field_errors }} {# ? #}
          <label>{{ subform.form_label }}:</label>  
        {{ subform.start }} <span>to</span> {{ subform.end }}
        {% endwith %}
      </div>
      {% endwith %}
      {% endwith %} {# journal info #}
      {# article version (pre-print, post-print) #}
      {% include "publication/snippets/edit_field.html" with field=form.version divclass="formThird" %}
      {# final version DOI #}
      {% with form.subforms.final_version as final %}
        {% include "publication/snippets/edit_field.html" with field=final.doi divclass="formHalf tip" %}
      {% endwith %}
      {% include "publication/snippets/edit_field.html" with field=form.language_code divclass="formQuarter" %}
      <div class="clear"></div>
      <span class="dblDivider">
      </span>

   {# subjects/research fields #}
   <div id="subjects">
    {% comment %} NOTE: this may look a little funny with no first subject, but 
    jquery formset plugin doesn't work properly without a first entry to clone. {% endcomment %}

      <h2>{{ form.formsets.subjects.form_label }} {# ?? <a class="tip" href=""></a> #}</h2>
      <div class="clear"></div>
      {% if subjectform.non_field_errors %}
        <span class="errors">{{ subjectform.non_field_errors }}</span>
      {% endif %}
      <ul class="subjects altList">
        {% for subjectform in form.formsets.subjects %} 
          <li class="subject-form {% cycle 'alternate' '' %}">
            {{ subjectform.id.errors }}{{ subjectform.id }}{# (hidden id) #} 
            <strong>{{ subjectform.topic }}</strong> {{ subjectform.topic.help_text }}
            {% if forloop.counter <= form.formsets.subjects.initial_form_count %}
              {{ subjectform.DELETE }} {# only delete if in original formset #}
            {% endif %}
        </li>
       {% endfor %}
       {% with subjectform=form.formsets.subjects.empty_form %}
           <li id="subjectform-template" class="subject-form" style="display:none">
             {{ subjectform.id }}
             <strong>{{ subjectform.topic }}</strong>
          </li>
        {% endwith %}
      </ul>
      {{ form.formsets.subjects.management_form }} 
   </div>
   <div>
      {# jquery ui autocomplete field for selecting subjects #}
      Start typing and select from the list:  
      <input id="subject-autocomplete" name="research-fields" type="text"/>
   </div>
   <div class="clear"></div>
   <span class="dblDivider"></span>
 </div>
 </div>

  <div class="right">
    <h1 class="toolsBg shadowLight">Article Tools:</h1>
    <ul class="tools">
      {% include "publication/snippets/download_pdf.html" %}
    </ul>
    <div class="clear"></div>
    <span class="dblDivider"></span>
    {# final version url #}
    {% include "publication/snippets/edit_field.html" with field=form.subforms.final_version.url divclass="formWhole" label=form.subforms.final_version.form_label %}

    {# other versions #}
    <div class="formWhole">
      <label>{{ form.formsets.locations.form.form_label }}</label>
    {% for location in form.formsets.locations %}
      <div class="other-version-form">
         {{ location.url }}
         {% if forloop.counter <= form.formsets.locations.initial_form_count %}{{ location.DELETE }}{% endif %} 
      </div>
    {% endfor %}
    {% with location=form.formsets.locations.empty_form %}
      <div id="otherversion-template" class="other-version-form" style="display:none">
         {{ location.url }}
      </div>
    {% endwith %}
   {{ form.formsets.locations.management_form }} 
    </div>

   {# embargo #}
    {% include "publication/snippets/edit_field.html" with field=form.embargo_duration divclass="formThreeQuarter" %}

  </div> {# end article tools #}

  <div class="bottom">
    {# abstract #}
    {% include "publication/snippets/edit_field.html" with field=form.subforms.abstract.text divclass="formWhole" label=form.subforms.abstract.form_label %}

    {# author agreement #}
    {% include "publication/snippets/edit_field.html" with field=form.author_agreement divclass="formWhole" %}
    {# TODO: make sure this looks sane when author_agreement exists #}
  </div>
{% comment %} {# TODO: assent to deposit on upload page, not edit #}
    <h2>Assent to Deposit:</h2>
    <div class="clear"></div>
    <p>Assent to Deposit Nunc aliquam est non nisi. Integer ante nunc, accumsan sed, tempus rutrum, laoreet eget, dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque purus libero, dictum in, convallis sit amet, aliquam tempor, nibh. Donec vestibulum. Nunc imperdiet. Maecenas ligula diam, ornare ac, ultricies sit amet, pretium id, libero. Proin sed sapien. Nullam id elit.Mauris turpis urna, consectetuer non, tempor ut, pellentesque id, magna. Fusce fermentum, neque a rutrum varius, odio pede ullamcorper tellus, ut dignissim nisi risus non tortor.</p>
    <div class="formWhole">
      <input type="radio" checked="checked" id="terms" name="acceptTerms" /> ACCEPT TERMS*<br />
    </div>
    <div class="formWhole">
      <input type="radio" id="notSure" name="notSure" /> Not Sure<a href="" class="tip"></a>
    </div>
{% endcomment %}    

  {% if perms.publication.review_article %}
    <div id="mark-reviewed" class="formWhole">
      {% if article.provenance.content.review_event %}
        <p class="info">{{ article.provenance.content.review_event.detail }} on 
        {{ article.provenance.content.review_event.date }}</p>
      {% else %}
        <label for="id_{{ form.reviewed.id }}">{{ form.reviewed.label }}:</label>
        {{ form.reviewed }} 
        <p class="helptext">{{ form.reviewed.help_text }}</p>
      {% endif %}
    </div>
  {% endif %}


  {% include 'publication/snippets/edit_submit.html' %}

  </div>  
  <div class="clear"></div>
</form>
  

{% endblock %}
