{% extends "site_base.html" %}
{% load search_utils %}

{% block style %}
  {{ block.super }}
  <link rel=stylesheet type=text/css href="{{ STATIC_URL}}style/search.css">
{% endblock %}

{% block content %}
  <h1>Unreviewed articles</h1>

  {% with total=results.paginator.count %}
    {% if total %}
      <p>{{ total }} unreviewed article{{ total|pluralize }}.</p>
      <ul>
        {% for article in results.object_list %}
          <li>{% include  'publication/snippets/list_article.html' %}</li>
        {% endfor %}
      </ul>

    {% pagination_links results show_pages  %}

   {% else %}
     <p>No unreviewed articles found.</p>
   {% endif %}

 {% endwith %}

{% endblock %}
