{% extends "site_base.html" %}
{% load search_utils %}
{% load flatpages %}
{% block style %} {{ block.super }}
  {% if user.is_authenticated %} {# jquery-ui for tag editing #}
  {% with jqui_theme=STATIC_URL|add:'style/jquery-ui/redmond' %}
{#    <link rel=stylesheet type=text/css href="{{ jqui_theme }}/jquery-ui-1.8.16.custom.css" >  #}
   {% endwith %}
  {% endif %}
{% endblock %}
{% block scripts %}{{ block.super }}
  <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.17.custom.min.js"></script>
  {% if user.is_authenticated %} {# js for article tag editing #}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.editableTags.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
    {# $(".article-tags").editableTags({autocomplete: "{% url 'accounts:tags-autocomplete' %}"}); #}
    {# TODO #}
    });

  </script>
  {% endif %}
  <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}scripts/slides.min.jquery.js"></script>
  <script type="text/javascript" language="javascript">
    $(function () {
      $('#slides').slides({
        preload: true,
        preloadImage: '{{ STATIC_URL }}fw/loading.gif',
        play: 3500,
        pause: 2000,
        hoverPause: true,
        effect: 'fade',
        pagination: true,
        generateNextPrev: false
      });

      //remove position property from all of these to prevent a z-index bug with the dropdown
      $(".slides_container").css('position', '')
                            .find('.slides_control').css('position', '')
                            .find('a').css('position', '');

      // Tabs
      $('#tabs').tabs();

      //hover states on the static widgets
      $('#dialog_link, ul#icons li').hover(
        function() {
          $(this).addClass('ui-state-hover');
        },
        function () {
          $(this).removeClass('ui-state-hover');
        }
      );
    });
  </script>
{% endblock %}

{% block contentdivclass %}home{% endblock %}
{% block sidebar %}{% endblock %} {# site index has no sidebar #}
{% block messages %}{% endblock %} {# site index needs messages formatted differently #}
{% block content %}
        <div class="slideshowCallouts">
          <div class="slideshow">
            <div id="wrapper">
              <div id="slides">
                <div class="slides_container">
                  {% get_flatpages '/about/' as about_page %}
                  <a href="{{ about_page.first.url }}" title="Welcome">
                    <img src="{{ STATIC_URL }}images/slides/OE_SliderGuide_welcome.jpg" width="705" height="225" alt="Slide 1"/>
                  </a>
                  {% get_flatpages '/how-to/submit/' as submit_page %}
                  <a href="{{ submit_page.first.url }}" title="Welcome">
                    <img src="{{ STATIC_URL }}images/slides/OE_SliderGuide_submit.jpg" width="705" height="225" alt="Slide 2"/>
                  </a>
                  
                  {% get_flatpages '/how-to/' as how_to %}
                    <a href="{{ how_to.first.url}}" title="Welcome">
                    <img src="{{ STATIC_URL }}images/slides/OE_SliderGuide_get_started.jpg" width="705" height="225" alt="Slide 3"/>
                  </a>
                  {% if featured %}
                        <a href="{% url 'publication:view' featured.pid %}" class="featured-slide" title="Featured Work" target="_blank">
                            <h1 class="featured-header">Featured  Work</h1>
                            <span class="featured-title">{{ featured.title }}</span>
                        </a>
                    {% endif %}
                  {# to be used for reatured article #}
                  {% comment %}
                  
                  <a href="{{ about_page.first.url }}" title="Welcome" target="_blank">
                    <img src="{{ STATIC_URL }}images/slides/OE_SliderGuide7.jpg" width="705" height="305" alt="Slide 3"/>
                  </a> -->
                  {% endcomment %}
                </div><!-- /.slides_container -->
              </div><!-- /#slides -->
            </div><!-- /#wrapper -->
            <div class="clearfix"></div>
          </div><!-- /.slideshow -->
          <div class="callouts">
            {% comment %}
            <div class="callout top">
              <a href="{{ submit_page.first.url}}">Submit your work to OpenEmory</a>
            </div>
            {% endcomment %}
            <div class="callout bottom">
              <a href="http://sco.library.emory.edu/open-access-publishing/oa-funding-support/index.html">Getting to know OpenEmory: view our how-to guides</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div><!-- /.slideshowCallouts -->

{% block message-content %}{{ block.super }}{% endblock %}

        <div class="HomepageContent">
          <div id="tabs">
            {# <div class="commentLegend">= user comments</div> #} {# enable once we add commenting feature #}
            <ul>
              <li><a href="#tabs-1">Most Viewed</a></li>
              <li><a href="#tabs-2">Recently Added</a></li>
            </ul>
            <div id="tabs-1">
              {% for article in most_viewed %}
              {% include 'publication/snippets/list_article.html' %}
              {% endfor %}
              <!-- END TAB 1 -->
            </div>
            <div id="tabs-2">
              {% for article in recent_uploads %}
              {% include 'publication/snippets/list_article.html' %}
              {% endfor %}
              <!-- END TAB 2 CONTENT -->
              <div class="clear"></div>
            </div>
          </div>
          <!-- /TABS -->
          <div class="dialog">
          </div>
        </div>

{#  {% pagination_links recent_uploads show_pages  %} #}

{% endblock %}

{% block login-next %}{# suppress default login-next value on site home page #}{% endblock %}
