{% extends "site_base.html" %}
{% load tracking_tags %}
{% load humanize %}
{% block style %} {{ block.super }}
  {% if user.is_authenticated %} {# jquery-ui for tag editing #}
  {% with jqui_theme=STATIC_URL|add:'style/jquery-ui/redmond' %}
    <link rel=stylesheet type=text/css href="{{ jqui_theme }}/jquery-ui-1.8.16.custom.css" > 
   {% endwith %}
  {% endif %}
{% endblock %}
{% block scripts %}{{ block.super }}
<script type="text/javascript" language="javascript">
  $(function () {
    $('#tabs').tabs();
  });	
</script> 
{% endblock %}

{% block page-subtitle %}{{ block.super }} | At a Glance{% endblock %}

{% block contentdivclass %}glance{% endblock %}

{% block content %}
{# left sidebar #}
<div class="left">
  <div class="top">
    <h1 class="shadow">At a glance:</h1>
  </div>
  <div class="bottom">
    <h2 class="shadow">Repository Statistics</h2>
    {# NOTE: same numbers as site_base stats but different formatting; combine at some point? #}
    <p class="numbers">{{ ARTICLE_STATISTICS.total_articles|intcomma }}</p>
    <p>total articles</p>

    <p class="numbers">{{ ARTICLE_STATISTICS.total_downloads|intcomma }}</p>
    <p>article{{ ARTICLE_STATISTICS.total_downloads|pluralize}} downloaded</p>

    <p class="numbers">{{ ARTICLE_STATISTICS.year_downloads|intcomma }}</p>
    <p>article{{ ARTICLE_STATISTICS.year_downloads|pluralize }} downloaded this year</p>

    <p class="numbers">{{ ACCOUNT_STATISTICS.total_users|intcomma }}</p>
    <p>faculty profiles</p>

    {% visitors_on_site as visitors %}
    <p class="numbers">{{ visitors|intcomma }}</p>
    <p>user{{ visitors|pluralize }} currently online </p>
  </div>
</div>

<div class="right">
  <div id="tabs">
{#    <div class="commentLegend">= user comments</div>  #}
    <ul>
      <li><a href="#downloads">Top 10 Downloads</a></li>
      <li><a href="#recentAdditions">10 Recent Additions</a></li>
    </ul>
    <div id="downloads">
      {% for article in most_downloaded %}
        {% include  'publication/snippets/list_article.html' %}
      {% endfor %}
      <div class="clear"></div>
    </div>
    <div id="recentAdditions">
       {% for article in newest %}
         {% include  'publication/snippets/list_article.html' %}
       {% endfor %}
      <div class="clear"></div>
    </div>
  </div> {# end tabs #}
</div>

{% endblock %}
