{% extends "site_base.html" %}

{% block page-subtitle %} | Submit an Article{% endblock %}

{% block contentdivclass %}document new{% endblock %}

{% block sidebar-title %}Site Documents{% endblock %}
{% block sidebar-content %}
  {% include "flatpages/snippets/list_docs.html" %}
{% endblock %}

{% block style %}
  {{ block.super }}
  <style type="text/css">
    #legal-statement li {list-style:none}
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  {% if form.legal_statement %}
    <script type="text/javascript">
      $(function() {
        {% comment %}
          LEGAL NOTE: This code drives which legal statement is presented to
          the user for agreement. The user agreement is recorded in the
          digital repository. If this code needs to change, it should be
          tested carefully.
        {% endcomment %}
        /* each time any legal_statement selection is made, go through each
           of them, find the related assent statements, showing the one for
           the selected legal_statement, and hiding all the others */
        $('input[name="legal_statement"]').change(function() {
          $('input[name="legal_statement"]').each(function() {
            var checked = ($(this).attr("checked") == "checked");
            var value = $(this).attr("value");
            var assent_id = '#assent-text-' + value;
            $(assent_id).toggle(checked);
          });
        });
      });
    </script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="right">
  <h1>Submit an Article</h1>

  <div class="formWrapper">
  {% if error %}
    <p class="error">There was an error uploading your document to the repository.
    {% if debug %}<br/>Error detail: {{ error }}{% endif %}
    </p>
  {% endif %}

  <p>Upload your article in PDF format.</p>

  <div class="bottom">

    <form enctype="multipart/form-data" method="post"
          action="{% url 'publication:ingest' %}">{% csrf_token %}

      <div class="assent-text">
        {% comment %}
          LEGAL NOTE:
          This form has two slightly different modes. Admin users will get a
          "legal_statement" selector that requires them to select between
          "author" and "admin" upload, defaulting to admin. Other users will
          see only author mode. This mode is used to note in the repository
          which legal statement the user agreed to at upload. Due to its
          legal repercussions, it must be handled carefully.
        {% endcomment %}
        {% if form.legal_statement %}
        <div id="legal-statement">
          {{ form.legal_statement }}
          {% if form.legal_statement.errors %}
            <p class="error">{{ form.legal_statement.errors }}</p>
          {% endif %}
        </div>
        {% endif %}

        {% comment %}
          LEGAL NOTE: the id assent-text-AUTHOR is used in js code above to
          control which legal statement is displayed for user agreement. If
          this needs to change, then it should be tested carefully.
        {% endcomment %}
        <div id="assent-text-AUTHOR"{% if form.legal_statement %} style="display:none"{% endif %}>
          <h2>Assent to Submit and Display an Article</h2>
          <div class="clear"></div>

          <p>My use of the OpenEmory self-deposit method confirms that I grant to
            Emory University (“Emory”) the non-exclusive, perpetual license to
            preserve and reproduce the work, and to display, distribute and make
            the work publicly available without charge from the open access
            repository OpenEmory, or any successor initiative based at Emory, in
            any format.  As used here, a work is a scholarly article including
            all materials contained in the article, such as images.</p>
          <p>I represent and warrant to Emory that:</p>
          <ul>
            <li>I have the right to submit the work to OpenEmory and to grant
              Emory the license above, or I have unrestricted permission from the
              copyright owner, such as a publisher, for the work to be
              distributed in an open access repository.</li>
            <li>Distribution from OpenEmory of the work does not infringe or
              violate any copyright or other rights of a publisher or other third
              party.</li>
            <li>If the work contains material for which I do not hold copyright,
              such as images, I have obtained all necessary rights for the work
              and the material to be distributed in OpenEmory.</li>
            <li>If the work was prepared jointly with other authors, I am
              granting the license above on their behalf as well as my own, and
              am authorized to do so.</li>
          </ul>
          <p>I understand that I will have the option of specifying an embargo
            date to comply with publisher or funder policies, and Emory will
            delay making the work publicly available from OpenEmory until that
            date. I understand that I may request to have public access to my
            work restricted by removing public display to my work, and that Emory
            may remove my work from public display if Emory deems distribution is
            inappropriate, such as violating the rights of a third party.</p>
          <p>I understand that this license is non-exclusive and does not prevent
            me from entering into similar arrangements with other parties or from
            exercising any rights that I may have in the work.  However, I
            understand that I may need to inform subsequent publishers or others
            that I have granted this license to distribute my work in
            OpenEmory.</p>
          <p>I understand that OpenEmory is currently only accepting journal
            articles.</p>
        </div>
        {% comment %}
          LEGAL NOTE: the id assent-text-MEDIATED is used in js code above
          to control which legal statement is displayed for user agreement.
          If this needs to change, then it should be tested carefully.
        {% endcomment %}
        {% if form.legal_statement %}
        <div id="assent-text-MEDIATED">
          <h2>Mediated Deposit</h2>
          <div class="clear"></div>

          <p>By clicking on “I accept these terms” below I assert that I have verified a signed OpenEmory
              Assistance Authorization for the faculty member is on file in the Scholarly Communications Office
              or the article was published with a Creative Commons License or is in the public domain
          </p>
        </div>
        {% endif %}

        <div>
          {{ form.assent }}{{ form.assent.label }}
          {% if form.assent.help_text %}
            <a class="tip" title="{{ form.assent.help_text }}"></a>
            {% endif %}
           {% if form.assent.errors %}
             <p class="error">{{ form.assent.errors }}</p>
           {% endif %}
        </div>

        <div>
          <label for="{{ form.pdf.field.name }}" class="tip">{{ form.pdf.label }}
          {% if form.pdf.field.required %}*{% endif %}
          {% if form.pdf.help_text %}<a class="tip" title="{{ form.pdf.help_text }}"></a>{% endif %}
          </label>
          <div>{{ form.pdf }}</div>
          {% if form.pdf.errors %}
            <p class="error">{{ form.pdf.errors }}</p>  {# TODO: formatting #}
          {% endif %}
        </div>

        <input type='submit' class="submit" value='Submit'/>

        <p>If you have questions or you do not accept these terms, please
          <a href="{{ sitepages.staff.url }}">contact OpenEmory staff</a>.</p>
      </div>
    </form>
    </div>
</div>

</div>

{% endblock %}
