{% extends "site_base.html" %}
{% load account_extras %}
{% load publication_extras %}
{% load tags %}
{% load humanize %}

{# article title first *before* site title for clarity in search engine results, etc #}
{% block page-title %}{% firstof article.descMetadata.content.title article.label article.pid %} - {{ block.super }}{% endblock %}

{% block meta %}
  {{ block.super }}
  <!-- highwire press tags for google scholar:
       http://scholar.google.com/intl/en/scholar/inclusion.html -->
  {% with article.descMetadata.content as mods %}
    <meta name="citation_title" content="{{ mods.title_info.title|escape }}">
    {% for author in mods.authors %}
      <meta name="citation_author" content="{{ author.given_name|escape }} {{ author.family_name|escape }}">
    {% endfor %}
    <meta name="citation_publication_date" content="{{ mods.publication_date|escape }}">
    {% if mods.genre = "Article"%}
    <meta name="citation_journal_title" content="{{ mods.journal.title|escape }}">
    
      {% if mods.journal.volume %}
        <meta name="citation_volume" content="{{ mods.journal.volume|escape }}">
      {% endif %}
      {% if mods.journal.number %}
        <meta name="citation_issue" content="{{ mods.journal.number|escape }}">
      {% endif %}
      {% if mods.journal.pages.start %}
        <meta name="citation_firstpage" content="{{ mods.journal.pages.start|escape }}">
      {% endif %}
      {% if mods.journal.pages.end %}
        <meta name="citation_lastpage" content="{{ mods.journal.pages.end|escape }}">
      {% endif %}
    {% endif %}

    {% if mods.genre == "Chapter" %}
      {% if mods.chapter.pages.start %}
        <meta name="citation_firstpage" content="{{ mods.chapter.pages.start|escape }}">
      {% endif %}
      {% if mods.chapter.pages.end %}
        <meta name="citation_lastpage" content="{{ mods.chapter.pages.end|escape }}">
      {% endif %}
    {% endif %}

    {% if mods.book.edition %}
      <meta name="citation_volume" content="{{ mods.book.edition|escape }}">
    {% endif %}
    {% if article.pdf.exists and not article.is_embargoed %}
      <meta name="citation_pdf_url" content="{% url 'publication:pdf' article.pid %}">
    {% endif %}
  {% endwith %}
{% endblock %}

{% block scripts %}{{ block.super }}
  <script>
    $(document).ready(function () {
      // add last class to all last-child li elements (css selectors level 3 compatibility)
      $('li:last-child').addClass('last');

          // Supplemental Materials toggle
          $( "#sup-click" ).click(function() {
             $( "#sup-content" ).toggle( "fast", function() {
               });
          });
    });
  </script>

    <!-- Javascript for AddThis -  http://www.addthis.com/http://www.addthis.com/ -->
    <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9b081e3ade6950"></script>
{% endblock %}

{% comment %}
  original code from designer included the following script for comment
  pagination. removed it above since we're not using commenting currently:

    $(document).ready(function () {
      var x = 0;
      var y = 0;
      // dynamically calculate center for commentPagination
      $('div.pages ul li a').each(function (i) {
        x += $(this).attr('text').length;
        y = $('div.center').text().length;
        console.log(x);
        console.log(y);
      });
      $('.commentPagination .center').css('margin-left', -(x+85));
    });

{% endcomment %}


{% block contentdivclass %}document{% endblock %}
{% block contentattributes %}itemscope itemtype="http://schema.org/ScholarlyArticle" {% endblock %}

{% block sidebar-title %}About this item:{% endblock %}
{% block sidebar-content %}
  {% with article.aggregate_statistics as stats %}
    <p class="itemStats">{{ stats.num_views|default:0|intcomma }} View{{ stats.num_views|pluralize }}</p>
    <meta itemprop="interactionCount" content="UserPageVisits:{{ stats.num_views|default:0}}"/>
    {% if article.pdf.exists %} {# only display download stats if there is a file to download #}
      <p class="itemStats">{{ stats.num_downloads|default:0|intcomma }} Download{{ stats.num_downloads|pluralize }}</p>
      <meta itemprop="interactionCount" content="UserDownloads:{{ stats.num_downloads|default:0}}"/>
    {% endif %}
  {% endwith %}

  {% with article.descMetadata.content as mods %}
      {% if mods.author_notes %}
      <h2 class="shadowLight">Author Notes:</h2>
      <div class="clear"></div>
      {% for an in mods.author_notes %}<p>{{ an|urlize }}</p>{% endfor %}
      {% endif %}

      {% if mods.subjects %}
      <h2 class="shadowLight">Subject{{ mods.subjects|pluralize }}:</h2>
      <div class="clear"></div>
      <ul class="subjects">
        {% for s in mods.subjects %}
        <li><a href="{% url 'publication:search' %}?subject={{s.topic|urlencode}}" itemprop="keywords">{{ s.topic }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if mods.funders %}
      <h2 class="shadowLight">Research Funded in Part By:</h2>
      <div class="clear"></div>
      {% for f in mods.funders %}<p>{{ f.name }}</p>{% endfor %}
      {% endif %}

      {% if mods.journal.publisher %}
      <h2 class="shadowLight">Publisher:</h2>
      <div class="clear"></div>
      <p itemprop="publisher">{{ mods.journal.publisher }}</p>
      {% endif %}

      {% if mods.keywords %}
      <h2 class="shadowLight">Keywords:</h2>
      <ul class="keywords">
        {% for kw in mods.keywords %}
          <li itemprop="keywords">{{ kw.topic }}</li>
        {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
  {% if article.is_embargoed %}
    <div class="banner embargoed">
      <hr style="background:rgb(219, 224, 231);margin-bottom:0px;"/>
      <h2 class="shadowLight">Embargoed until:</h2>
      <p>{{article.embargo_end_date}}</p>
    </div>
  {% endif %}
{% endblock %} {# end sidebar content #}

{% block content %}
<style>
.at16nc {

}
</style>
{% with article.descMetadata.content as mods %}
<div class="right">
  <div class="top">
    <div class="left">
      {% include "publication/snippets/article_title.html" %}
      {% include "publication/snippets/article_authors.html" %}
      <span class="dblDivider first">  </span>
      {% if mods.genre == "Article" %}
      {% include "publication/snippets/article_journal.html" %}
      {% elif mods.genre == "Book" or mods.genre == "Chapter" %}
      {% include "publication/snippets/book.html" %}
      {% endif %}
      <span class="dblDivider"> </span>
    </div>

    <div class="right">
      <h1 class="toolsBg shadowLight">Tools:</h1>
      <ul class="tools">
      {% include "publication/snippets/download_pdf.html" %}

      {# FIXME: get rid of these stupid empty spans (required for icons?) #}
      {% if article.pmcid %}
        <li><a rel="alternate" href="{{ article.pmcid|pmc_url }}" title="article on PubMed Central"
               class="viewPublished" target="_blank"><span> </span>View on PubMed Central</a></li>
      {% endif %}
      {% if mods.final_version.url %}
        <li><a rel="alternate" href="{{ mods.final_version.url }}"
               target="_blank" class="viewPublished"><span> </span>Final Published Version</a></li>
     {% endif %}

     {% comment %}{# meaningless on article view? already here #}
        <li><a href="" class="viewAbstract">
          <span>
          </span>
        View Abstract</a></li>
     {% endcomment %}

     {# TODO: non-functional #}
        <li><a href="{% url 'publication:biblio-data' article.pid %}" class="exportCitation"><span> </span>Export Citation</a></li>



      {# Enable when commenting feature is added #}
      {# <li><a href="" class="viewComments"><span> </span>View Comments</a></li> #}


    {% if user.is_authenticated %}
      {# display an edit link when appropriate -  author+unpublished or reviewer #}
      {% if user.username in article.owner and article.state = 'I' or perms.publication.review_article %}
      <li><a href="{% url 'publication:edit' article.pid %}" class="editDocument"><span></span>Edit this record</a></li>  {# TODO: style/icon #}
      {% endif %}

      {% if perms.publication.view_admin_metadata %} {# link to raw/admin xml if user has permission #}
        {% if article.descMetadata.exists %}
          <li><a href="{% url 'publication:ds' article.pid 'descMetadata' %}" class="xml"><span></span>View MODS</a></li>
        {% endif %}
      {% if article.dc.exists %}
          <li><a href="{% url 'publication:ds' article.pid 'DC' %}" class="xml"><span></span>View DC</a></li>
        {% endif %}
        {% if article.contentMetadata.exists %}
          {# for now, only content metadata we have is NLM XML #}
          <li><a href="{% url 'publication:ds' article.pid 'contentMetadata' %}" class="xml"><span></span>View NLM</a></li>
        {% endif %}
        {% if article.sympAtom.exists %}
          <li><a href="{% url 'publication:ds' article.pid 'SYMPLECTIC-ATOM' %}" class="xml"><span></span>View SYMPLECTIC-ATOM</a></li>
      {% endif %}
        {% if article.provenance.exists %}
          <li><a href="{% url 'publication:ds' article.pid 'provenanceMetadata' %}" class="xml"><span></span>View PREMIS</a></li>
        {% endif %}
        <li><a href="{% url 'publication:audit-trail' article.pid %}" class="xml"><span></span>View Audit Trail</a></li>
      {% endif %} {# end permission for metadata links #}
    {% endif %} {# end authenticated #}
    {% if mods.supplemental_materials %}
    <li><a class="xml" id='sup-click' style="cursor: pointer"><span></span>Supplemental Materials</a> <br>
      <ul id='sup-content' style='display: none; list-style-type: none'>
          {% for sup in mods.supplemental_materials %}
              <li> <a target="_blank" href="{{ sup.url }}">{{ sup.url }}</a></li>
          {% endfor %}
      </ul>
    </li>
    {% endif %}
   </ul>

      {% include 'publication/snippets/addthis-button.html' %}

    </div>
  </div> {# end article tools #}

  <div class="clear"></div>
  <div class="bottom">
  {% if mods.abstract %}
    <h2>Abstract:</h2>
    <div class="clear"></div>  {# ?!? #}
    <!-- class for whitespace, id for linking -->
    <div id="abstract" class="abstract" itemprop="description">{{ mods.abstract.text }}</div>
  {% endif %}

  {% if article.descMetadata.exists %}{# display article permissions, if available #}
     {% with mods=article.descMetadata.content %}
       {% if mods.copyright or mods.license %}
       <div id="permissions" class="section">
         <h2>Copyright information:</h2>
         <div class="clear"></div>  {# ?!? #}
         {% if mods.copyright and  mods.copyright.text != mods.license.text %}<p>{{ mods.copyright.text }}</p>{% endif %}
         {% if mods.license %}<div class="license">
             {{ mods.license.text|urlize }} {# urlize in case of untagged links #}
             {# if license link is not included in text OR is a creative commons, link to it #}
             {% if mods.license.link and mods.license.link not in mods.license.text or mods.license.is_creative_commons %}
             <p><a class="license-link" href="{{ mods.license.link}}">
                 {% if mods.license.is_creative_commons %} {# use CC image if possible #}
                   <img src="{{ STATIC_URL }}images/cc/{{ mods.license.cc_type }}.png"
                        alt="Creative Commons License"/>
                 {% else %}{{ mods.license.link }}{% endif %}
               </a></p>    {# TODO: needs styles from local.css #}
             {% endif %} {# end license link #}
           </div> {% endif %} {# end has license #}
       </div>
       {% endif %} {# end permissions #}
     {% endwith %}
  {% endif %}

  <a href="{% url 'publication:biblio-data' article.pid %}" class="exportCitation"><span> </span>Export to EndNote</a>
  <div class="clear"></div>


{% endwith %}

{% comment %}{# commenting not yet implemented #}
  <div class="comments">
    <h1 class="tab shadow">Add Comment</h1>
    <div class="formWhole">
      <textarea class="addComment"></textarea>
      <div class="buttons"><a href="" class="shadowLight">Cancel</a>
      <input type="submit" class="submit" value="Submit" />
      </div>
    </div>
    <div class="clear"></div>
    <h1>27 Comments:</h1>
    <span class="dblDivider">
    </span>
    <div class="commentContainer">
      <div><img class="profile floatLeft" /> </div>
      <div class="comment">
        <p class="name">Joseph Somebody</p>
        <p class="date">12 days ago</p>
        <p>Fusce dignissim neque vitae justo. Ut vehicula, purus vitae interdum euismod, lacus neque dignissim pede, vitae condimentum est tortor a risus. Fusce sollicitudin aliquet mi. Nulla facilisi. Vestibulum bibendum blandit lectus. Fusce vel lectus. Curabitur
        eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem. Proin quis neque sed justo consectetuer malesuada. Lorem ipsum dolor sit amet, consectetuer adipiscing
        elit. Proin eget urna quis quam sollicitudin vestibulum.</p>
      </div>
    </div>
    <div class="clear"></div>
    <span class="divider">
    </span>
    <div class="clear"></div>
    <div class="commentPagination">
      <div class="center">
        <div class="previous"><a href="">&lt;</a></div>
        <div class="pages">
          <ol>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="" class="current">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
          </ol>
        </div>
        <div class="next"><a href="">&gt;</a></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
{% endcomment %}

  </div>

  {# NOTE: checking perms first so we don't make an unnecessary fedora request every article view #}
  {% if perms.publication.view_admin_metadata %}
      {# if record has Rights Research Date, display it #}
      {% if article.descMetadata.content.rights_research_date %}
       <hr/>
         <div id='rights-research-date'>
            <h3>Rights Research Date</h3>
            {{ article.descMetadata.content.rights_research_date }}
         </div>
      {% endif %}

      {# if record has Admin Note, display it #}
      {% if article.descMetadata.content.admin_note %}
         <hr/>
         <div id='admin-note' class='abstract'>
            <h3>Admin Note</h3>
               {{ article.descMetadata.content.admin_note.text }}
         </div>
      {% endif %}

      {# if record has provenance, display it #}
      {% if article.provenance.content.events %}
         {% with events=article.provenance.content.events %}
         <hr/>
         <div id='premis-events'>
            <h3>Record History</h3>
            <ul class="altList">
               {% for event in article.provenance.content.events %}
                 <li class="premis-event {% cycle 'alternate' '' %}">
                    {{ event.detail }} <span class="date">{{ event.date }}</span>
                 </li>
               {% endfor %}
            </ul>
         </div>
         {% endwith %}

      {% endif %}

  {% endif %}
</div>
</div>
</div>
{% endblock %}
