{% with author.get_profile.esd_data as esd %}
  <div id="edit-profile" class="edit-profile">
    <div class="edit">
      <form action="{% url accounts:edit-profile author %}" method="post" enctype="multipart/form-data"
            id="profile-edit" class="within-tab">{% csrf_token %}
        <div class="photo">
          {% if author.get_profile.photo %}
            {# TODO: style breaks without placeHolder class. shouldn't need that #}
            <img src="{{ author.get_profile.photo.url }}" class="placeHolder" />
            <div>{{ form.delete_photo }} {{ form.delete_photo.label }}</div>
          {% endif %}
          {% with field=form.photo %}{# TODO: reusable snippet? #}
            <div class="actionLinks {{ field.css_classes }}">
              <div><label for="{{ field.id }}">{{ field.label }}:</label></div>
              <div style="text-align:center;float:left;">{{ field }}</div>
              <br/>{{ field.help_text }}
                {{ field.errors }}
            </div>
          {% endwith %}
        </div>
        <a href="{{ sitepages.faq.url }}#edit-entire-profile">Why can't I edit my entire profile?</a>
        <div class="detail">
          <div class="left">
            {% if invalid_form %}
              <div class="form-error"><strong>The form could not be processed.  Please check
                below for missing or invalid entries.</strong></div>
            {% endif %}

            {{ form.non_field_errors }}

            <h1 class="shadow">{% firstof esd.directory_name author.get_profile.get_full_name author.username %}</h1>

            {# display checkbox to allow user to override suppressions #}
            {% if esd.internet_suppressed or esd.directory_suppressed %}
                  {% if not author.get_profile.show_suppressed %}
                    <p class="block warning">Your directory information is not visible on your profile
                        because you have asked Emory HR to suppress it from the public directory. Click
                        the box below to make your information visible on OpenEmory. This will not affect your
                        HR settings.</p>
                  {% endif %}
                  <strong>Show&nbsp;my&nbsp;directory&nbsp;information&nbsp;in&nbsp;my&nbsp;profile</strong>
            {{ form.show_suppressed }}
            {% endif %}


            {% if esd.title and not author.get_profile.suppress_esd_data %}
                <p class="title">{{ esd.title }}</p>
            {% endif %}
            <div class="positionsList prepend-errors">
              <h2>Center or Institute Affiliations</h2>
              {% if esd.department_name and not author.get_profile.suppress_esd_data %}
                <p class="affiliation">{{ esd.department_name }}</p>
                {% if esd.division_name and esd.division_name != esd.department_name %}
                  <p class="affiliation">{{ esd.division_name }}</p>
                {% endif %}
              {% endif %}

              {{ form.inlineformsets.positions.management_form }}
              {% for positionform in form.inlineformsets.positions %}
                {{ positionform.name.errors }}
              {% endfor %}
              <ul class="positions formWhole altList">
                {% for positionform in form.inlineformsets.positions %}
                  {{ positionform.id.errors }}{{ positionform.id }}{# hidden id #}
                  <li class="position-form {{ positionform.name.css_classes }} {% cycle 'alternate' '' %}">
                    {{ positionform.name }}
                    {% if forloop.counter <= form.inlineformsets.positions.initial_form_count%}{{ positionform.DELETE }}{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="degreesList prepend-errors">
              <h2>Degrees Held
                 <a class="tip" title="Optionally list your degrees; if you add a degree, you must include the degree name and institution."></a>
               </h2> 
              {{ form.inlineformsets.degrees.management_form }}
               <div class="clear"></div>
              {% for degreeform in form.inlineformsets.degrees %}
                {{ degreeform.name.errors }}
                {{ degreeform.institution.errors }}
                {{ degreeform.year.errors }}
              {% endfor %}
              <ul class="degrees altList">
                {% for degreeform in form.inlineformsets.degrees %}
                  <li class="{% cycle 'alternate' '' %}">
                    {{ degreeform.id.errors }}{{ degreeform.id }}{# hidden id #}
                    <div class="formThird {{ degreeform.name.css_classes }}">
                      {{ degreeform.name }} 
                      <div class="clear"></div>
                    </div>
                    <div class="formThird {{ degreeform.institution.css_classes }}">
                      {{ degreeform.institution }} 
                      <div class="clear"></div>
                     </div>
                    <div class="formQuarter {{ degreeform.year.css_classes }}">
                      {{ degreeform.year }} 
                      <div class="clear"></div>
                    </div>
                    {% if forloop.counter <= form.inlineformsets.degrees.initial_form_count %}
                      {{ degreeform.DELETE }}
                    {% endif %}
                  </li>
                {% endfor %}
                {% with degreeform=form.inlineformsets.degrees.empty_form %}
                <li id="degreeform-template" style="display:none">
                  {{ degreeform.id }}
                    <div class="formThird">{{ degreeform.name }}</div>
                    <div class="formThird">{{ degreeform.institution }}</div>
                    <div class="formQuarter">{{ degreeform.year }}</div>
                </li>
                {% endwith %}
              </ul>
            </div>
            <div class="clear"></div>

            <div class="biography">
              {% with field=form.biography %}
                <h2>Biography</h2>
                {{ field }}
                <br />
                {{ field.errors }}
              {% endwith %}
            </div>
            <div class="clear"></div>
            <div class="buttons">
              <a href="{% url accounts:dashboard-profile author %}" class="cancel within-tab">Cancel</a> 
              <input type="submit" class="submit" id="bottom-submit" value="Submit" />
            </div>
          </div>
          <div class="right">
            <div class="buttons">
              <a href="{% url accounts:dashboard-profile author %}" class="cancel within-tab">Cancel</a> 
              <input type="submit" class="submit" id="top-submit" value="Submit" />
            </div>

            {% if esd and not author.get_profile.suppress_esd_data %}
              {% include "accounts/snippets/contact-info.html" %}
            {% endif %}

            <div class="researchInterests prepend-errors">
              {# FIXME: research_interest autocomplete?? #}
              <h2>Research Interests</h2>
              <!-- {{ interest_formset.initial_form_count }} -->
              {{ interest_formset.management_form }}
              <ul class="interests formWhole altList">
                {% for interestform in interest_formset %}
                  {{ interestform.id.errors }}{{ interestform.id }}
                  <!-- {{ forloop.counter }} -->
                  <li class="interest-form {{ interestform.interest.css_classes }}{% cycle 'alternate' '' %}">
                    {{ interestform.interest }}
                    {% if forloop.counter <= interest_formset.initial_form_count %}{{ interestform.DELETE }}{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            {% comment %}
                TODO: we don't have courses yet
              <h2>Current Courses</h2>
              <textarea name="currentCourses">Course Title, Course Title</textarea>
            {% endcomment %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endwith %}  {# esd #}

{# javascript specific to profile edit form; needs to run after html is loaded via ajax #}
<script type="text/javascript">
 $(document).ready(function() {
  // configure formsets
  $(".position-form").formset({
    prefix: "{{ form.inlineformsets.positions.prefix }}",
    deleteCssClass: "close",
    addText: "+ Add Affiliation",
    added: function(row) {
      update_alternates($('.positionsList'))
    },
    removed: function(row) {
      update_alternates($('.positionsList'))
    }
  });
  $('ul.degrees li').formset({
    prefix: "{{ form.inlineformsets.degrees.prefix}}",
    addText: "+ Add Degree",
    addCssClass: "addDegree",
    deleteCssClass: "close",
    formTemplate: $("#degreeform-template"),
    added: function(row) {
      update_alternates($('.degreesList'))
    },
    removed: function(row) {
    update_alternates($('.degreesList'))
    }
  });
  $(".interest-form").formset({
    prefix: "{{ interest_formset.prefix }}",
    addText: "+ Add Interest",
    deleteCssClass: "close",
    added: function(row) {
      update_alternates($('.researchInterests'));
    },
    removed: function(row) {
      update_alternates($('.researchInterests'));
    }
  });
  //prevent ENTER key from submitting form
  disableEnter("#profile-edit");

  $(".researchInterests input").autocomplete({
  source: "{% url accounts:interests-autocomplete %}"
  });

  $(".positionsList input").autocomplete({
     source: "{% url accounts:position-autocomplete %}"
  });

  $(".degreesList input[id$='-name']").autocomplete({
     source: "{% url accounts:degree-autocomplete mode='name' %}"
  });

  $(".degreesList input[id$='-institution']").autocomplete({
     source: "{% url accounts:degree-autocomplete mode='institution' %}"
  });

});
</script>
