{% load markup %}
<div class="view">
  {% if author.get_profile.photo %}
  <div class="photo">
    {# TODO: style breaks without placeHolder class. shouldn't need that #}
    <img src="{{ author.get_profile.photo.url }}" alt="photo" class="placeHolder" />
  </div>
  {% endif %}
  <div class="detail">

    {# if user has permission, link to edit profile #}
    {% if perms.accounts.change_userprofile or user == author %}
      <ul class="tools">
        <li><a href="{% url accounts:edit-profile author %}" class="editDocument edit within-tab">
          <span> </span>Edit Profile</a></li>
      </ul>
      {% endif %}
    {# FIXME: edit profile link is messing up optional section layout #}

    <div class="left">
      <h1 class="shadow">{% firstof esd.directory_name author.get_profile.get_full_name author.username %}</h1>


      {% if not author.get_profile.suppress_esd_data %}
          <h2>School/Division</h2>
          {% if esd.title %}
              <p class="title">{{ esd.title }}</p>
          {% endif %}
          {% if esd.department_name %}
             <p class="affiliation">{{ esd.department_name }}</p>
          {% endif %}
          {% if esd.division_name and esd.division_name != esd.department_name %}
              <p class="affiliation">{{ esd.division_name }}</p>
          {% endif %}
      {% endif %}

      {% if author.get_profile.suppress_esd_data %}
        {% if user.username == author.username or perms.accounts.change_userprofile %}
          <p class="block warning">Your directory information is not visible
            on your profile because you've asked Emory HR to suppress it from
            the public directory. <a class="edit within-tab" href="{% url accounts:edit-profile author.username %}">Edit your profile</a>
            to make it visible here. This will not affect
            your HR settings.</p>
        {% endif %}
      {% endif %}

        {% if esd.department_name and not author.get_profile.suppress_esd_data %}
      <div class="info">
        <h2>Other Affiliations</h2>
        {% comment %}
        TODO: do these apply?
        <a href="">www.departmentlink.com</a>
        {% endcomment %}

        {% for position in author.get_profile.position_set.all %}
            <p class="affiliation">{{ position.name }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% if esd and not author.get_profile.suppress_esd_data %}
        {% include "accounts/snippets/contact-info.html" %}
      {% endif %}
      {% if author.get_profile.biography %}
      <div class="biography">
        <h2>Biography/Description of Research</h2>
        {{ author.get_profile.biography|markdown }}
      </div>
      {% endif %}
    </div>

      {% if author.get_profile.degree_set.count or author.get_profile.research_interests.count %}
      <div class="optional">
        {% if author.get_profile.degree_set.count %}
        <h2>Degrees Held:</h2>
        <ul class="degreesHeld">
          {% for degree in author.get_profile.degree_set.all %}
          <li>{{ degree.name }}, {{ degree.institution }}{% if degree.year %}, {{ degree.year }}{% endif %}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if author.get_profile.research_interests.count %}
        {# TODO: inline editable research interests? #}
        <h2>Research Interests:</h2>
        <ul class="researchInterests commas">
          {% for tag in author.get_profile.research_interests.all %}
          <li><a href="{% url accounts:by-interest tag.slug %}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% comment %}
        TODO: courses taught?
        <h2>Current Courses:</h2>
        <ul class="currentCourses commas">
          <li>Course Title</li>
          <li>Course Title</li>
          <li>Course Title</li>
        </ul>
        {% endcomment %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
