body {
  font-family:arial,sans-serif; font-size:14pt;
  color:#4c4c4c;
}

/**
 * general stuff, mostly for content
 */
a { color:#2e5299; }
a:hover, a:active { color:#a67c00; }
h1, h2 { margin:0.5em 0; font-size:160%; font-weight:bold; color:#3e6280; }
h2 { font-size:115%; }
h3 { font-weight:bold; color:gray; }
p { margin:1em 0; }
em { font-style: italic }
strong { font-weight: bold }
ul {margin: 1em 0; }
li { margin:0.5em; list-style:disc; list-style-position:outside; }


/**
 * pre-content stuff
 */

#skip-to {
  position:absolute; right:0; top:-500px;
  width:1px; height:1px; overflow:hidden;
}

#header {
  /* relative/0/0 here gives header sub-divs something to hang on to */
  position:relative; top:0px; left:0px;
  background-color:#002878; color:#fff;
  padding:0.25em 3em 0.75em;
}

#site-title {
  font-size:180%; font-family:times,serif;
}
#site-title a {
  color:inherit; text-decoration:none;
}
#site-title a:hover, #site-title a:active {
  color:inherit; text-decoration:underline;
}

#login-mgmt {
  position:absolute; bottom:0.6em; right:1em;
  font-size:75%; font-weight:normal; color:#e4e6f0;
}
#login-mgmt a { color:inherit; }
#login-mgmt a:hover, #login-mgmt a:active { color:#f3df77; }
#login-mgmt .username { font-weight:bold; }

/**
 * content
 */

#content-wrapper {
  /* relative/0/0 here gives header sub-divs something to hang on to */
  position:relative; top:0px; left:0px;
}

#content {
  margin:0em 14em 0em 12em;
  padding-bottom:8em;
}

#sidebar-left {
  position:absolute; top:1em; left:0.5em; width:10em;
}
#sidebar-right {
  position:absolute; top:1em; right:0.5em; width:12em;
}
.sidebar .block {
  margin:0em 0.5em 0.5em; padding:0.5em;
  border-width:1px; border-style:solid;
  font-size:80%;
  border-color:#d9d9d9;
  background-color:#f2f3f5;
  color:#2e5299;
}
.sidebar #login-form {
  border-color:#f3df77;
  background-color:#fdfbd7;
  color:#997300;
}

.sidebar .warning {
  background-color:#ffdddd;
  color:inherit;
}

.sidebar #site-search-form {
  text-align: right;
}
.sidebar #site-search-form #search-keyword {
  width: 95%;
}

.sidebar #site-search-within-form #id_within_keyword {
  width: 95%;
}

.sidebar #user-tags p {
  margin: 0px;
}

/**
 * post-content stuff
 */

#footer {
  float:right; text-align:right;
  padding:0.5em 1em;
  width:100%; font-size:60%;
  background-color:#e4e6f0; color:#555588;
}
#footer div { margin:0.5em; }
#footer a { color:inherit; }
#footer a:hover, #footer a:active { color:#a67c00; }

#site-statistics table { margin-top:1em }
#site-statistics td { padding:0em 1em 0em; font-weight:bold }

/**
 * other content stuff
 */

.errorlist {
    color: red;
}

#messages, .message {
  margin: 5px;
  font-size: 90%;
}
.success {
  color: green;
}
.error {
  color: red;
}


p.error {
 border: 2px solid red;
 padding: 5px;
 background-color: #efefef;
}

p.premis-event {
 padding-top: 5px;
 padding-bottom: 5px;
}

.title {
  font-weight: bold;
}
.doc-info, .info {
 margin: 0px;
 font-style: italic;
 font-size: 90%;
}
.author {
 margin: 5px 0px;
}
.author-message {
  padding-top: 15px;
  font-style: italic;
}

.tag-edit input[type=text] {
  width: 35em;
}

.list-profiles h3 {
  display: inline;
}

li { margin:0.5em; list-style:disc; list-style-position:outside; }


.ui-autocomplete-input {
    padding-right: 18px; /* for loading animation img */
}
.ui-autocomplete-loading {
    background: white url('jquery-ui/redmond/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-autocomplete li {
  list-style-type: none;
}

#unpublished-articles  {
 border: 3px dashed orange;
 background-color: #F2F3F5;
 padding: 0px 15px;
}

#article-links {
 float:right;
 border:2px solid gray;
 padding:5px;
 margin:5px;
 text-align:right;
}
#article-links p {
    margin: 1px;
}

#article .section {
  margin-bottom: 10px;
}

#article .section p {
  margin: 1px;
}
#article-authors .affiliation {
  font-style: italic;
}

#journal {
  margin: 5px 0px;
  padding: 8px 0px;
  border: 2px  solid gray;
  border-right: 0px;
  border-left: 0px;
  clear: right;
}

#journal .journal-title {
    font-variant: small-caps;
    font-weight: bold;
}

#abstract, .abstract {
 margin: 8px 0px;
 white-space: pre-line; /* preserve paragraphs */
}

#author-notes p {
 margin-bottom: 8px !important;
 white-space: pre-line;
}

#citation .title {
 font-weight: normal;
 font-variant: italic;
}

#additional-info > div {
  display: none;
}
#additional-info > p {
  margin-bottom: 5px !important;
}

/* common edit form styles (article metadata, faculty profile) */

.helptext {
 margin: 0px;
 display: block; /* keep together */
 font-style: italic;
 font-size: 90%;
}

.required label {
  font-weight: bold;
}
.required label:before {
  content: "*";
  color: red;
}

th.section-header {
    font-weight: bold;
    text-align: left;
    margin: 3px;
}

blockquote {
    margin-left: 3em;
}
/* minimal preliminary style for profile image */
img.profile {
 width: 180px;
}
/* department + division list */
.division {
  font-weight: bold;
}
.department {
  margin-left: 3em;
}

#article-links {
 float: right;
 border: 2px solid black;
 padding: 5px;
 text-align: right;
 width: 12em;
}


/* article edit resets */
.content .fullWidth {
	width: 100%;
}
