<!-- AddThis Button BEGIN -->
<div class="clearfix"></div>
<style>
  .addthis_toolbox {
    color: #042870;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    height: 23px;
    line-height: 23px;
    padding: 5px 0;
    margin: 10px 10px 0;
  }
  .addthis_toolbox a {
    text-decoration: none;
  }
</style>
<div class="addthis_toolbox addthis_default_style">

<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4f9b081e3ade6950" class="addthis_button_compact">Share</a>
<!-- <a class="addthis_button_preferred_1"></a> -->
</div>
<!-- AddThis Button END -->