{# display full article journal information; expects Article object as `article` #}
<div id="journal" class="section" style="position: relative; height: auto;">
{% with article.descMetadata.content as mods %}
  {% with mods.journal as j %}
  <div class="left" style="width: 140px; margin:0px;">
<p><span style="font-weight: bold;">Journal Title: </span></p>
{% if j.volume or j.number %}
<p><span style="font-weight: bold;">Volume: </span></p>
{% endif %}
<p><span style="font-weight: bold;">Publisher: </span></p>
<p><span style="font-weight: bold;">Type of Work: </span></p>
{% if mods.ark_uri %}
<p id="permalink"><span style="font-weight: bold;">Permanent URL: </span></p>
{% endif %}
{% if mods.final_version.doi %}
<p><span style="font-weight: bold;">DOI: </span></p>
{% endif %}

  </div>
  <div class="right" style="width: 550px; margin: 0px;">
   <p class=""> {{ j.title|default:"(journal title)"}}</p>
   {% if j.volume or j.number %}
   <p>{% if j.volume %}Volume {{ j.volume }}{% endif %}{% if j.volume and j.number %}, {% endif %}
        {% if j.number %}Number {{ j.number }}{% endif %}</p>
    {% endif %}

  <p><span itemprop="datePublished">{{ j.publisher|default:"(publisher)" }} | {{ mods.publication_date|default:"(publication date)" }}</span>{% if j.pages %}, Pages {{ j.pages.start }}-{{ j.pages.end }}{% endif %}</p>
  <p><span itemprop="genre">{{ mods.genre|default:"Article" }}</span> {% if mods.version %}| {{ mods.version }}{% endif %}</p>
  {% if mods.ark_uri %}
     <p>  <a rel="bookmark" href="{{ mods.ark_uri }}">{{ mods.ark_uri }}</a></p>
    {% endif %}
    <p>{{ mods.final_version.doi|slice:"4:" }}</p>
  </div>
   
  {% endwith %}
    
{% endwith %} {# mods #}
</div>
