{# display full article journal information; expects Article object as `article` #}
<div id="journal" class="section">
{% with article.descMetadata.content as mods %}
  {% with mods.journal as j %}
  <div>
    <div class="left" style="width: 140px; margin:0px;">
     <p class="author"><span style="font-weight: bold;">Journal Title: </span></p> 
    </div>
    <div class="right" style="width: 550px; margin: 0px;">
      <p class="author"> {{ j.title|default:"(journal title)"}}</p>
    </div>

  </div>
{% if j.volume or j.number %}
  <div>
    <div class="left" style="width: 140px; margin:0px;">
     <p class="author"><span style="font-weight: bold;">Volume: </span></p>
    </div>
    <div class="right" style="width: 550px; margin: 0px;">
      <p class="author">{% if j.volume %}Volume {{ j.volume }}{% endif %}{% if j.volume and j.number %}, {% endif %}
        {% if j.number %}Number {{ j.number }}{% endif %}</p>
    </div>

  </div>
  {% endif %}

  <div>
    <div class="left" style="width: 140px; margin:0px;">
     <p class="author"><span style="font-weight: bold;">Publisher: </span></p>
    </div>
    <div class="right" style="width: 550px; margin: 0px;">
      <p class="author"><span itemprop="datePublished">{{ j.publisher|default:"(publisher)" }} | {{ mods.publication_date|default:"(publication date)" }}</span>{% if j.pages %}, Pages {{ j.pages.start }}-{{ j.pages.end }}{% endif %}</p>
    </div>

  </div>

  <div>
    <div class="left" style="width: 140px; margin:0px;">
     <p class="author"><span style="font-weight: bold;">Type of Work: </span></p>
    </div>
    <div class="right" style="width: 550px; margin: 0px;">
      <p class="author"><span itemprop="genre">{{ mods.genre|default:"Article" }}</span> {% if mods.version %}| {{ mods.version }}{% endif %}</p>
    </div>

  </div>
{% if mods.ark_uri %}

  <div>
    <div class="left" style="width: 140px; margin:0px;">
     <p class="author"><span style="font-weight: bold;">Permanent URL: </span></p>
    </div>
    <div class="right" style="width: 550px; margin: 0px;">
      <p class="author">  <a rel="bookmark" href="{{ mods.ark_uri }}">{{ mods.ark_uri }}</a></p>
    </div>

  </div>
  {% endif %}

{% if mods.final_version.doi %}
  <div>
    <div class="left" style="width: 140px; margin:0px;">
     <p class="author"><span style="font-weight: bold;">Publisher DOI: </span></p>
    </div>
    <div class="right" style="width: 550px; margin: 0px;">
      <p class="author">{{ mods.final_version.doi|slice:"4:" }}</p>
    </div>

  </div>
  {% endif %}
  

   
  {% endwith %}
    
{% endwith %} {# mods #}
</div>
