{# display full work book information; expects Book object as `article` #}
<div id="journal" class="section">
{% with article.descMetadata.content as mods %}
  {% with mods.book as b %}
    

   {% if mods.book.book_title and mods.genre == 'Chapter' %} <p class="journalTitle"><span>{{ mods.book.book_title }}</span></p>{% endif %}
   {% if mods.genre == 'Conference' %} 

   {% if mods.conference.conference_name %}<p><span>{{ mods.conference.conference_name }}</span></p>{% endif %}
   {% if mods.conference.proceedings_title %}<p class="journalTitle"><span>{{ mods.conference.proceedings_title }}</span></p>{% endif %}

   {% endif %}


   {% if mods.genre == 'Poster' %} 

   {% if mods.poster.conference_name %}<p><span>{{ mods.poster.conference_name }}</span></p>{% endif %}
   

   {% endif %} 

   {% if mods.genre == 'Report' %}
    {% if mods.report.sponsor %}
    {% if mods.report.report_title %}<p class="journalTitle"><span>{{ mods.report.report_title }}</span></p>{% endif %}
    <p><span>{{ mods.report.sponsor }}</span></p>
    {% endif %}

   {% endif %}

   {% if mods.publisher %} <p><span itemprop="datePublished">{{ mods.publisher }}</span></p>{% endif %} 
   {% if mods.genre == 'Conference' %} 

   {% if mods.conference.conference_place %}<p><span>{{ mods.conference.conference_place }}</span></p>{% endif %}

   <p>{% if mods.conference.volume %}Volume {{ mods.conference.volume }}{% endif %}{% if mods.conference.volume and mods.conference.issue %} | {% endif %}
        {% if mods.conference.issue %}Issue {{ mods.conference.issue }}{% endif %}</p>
   {% endif %} 


   {% if mods.publication_place %}<p><span itemprop="datePublished">{{ mods.publication_place }}</span></p>{% endif %}
    <p><span itemprop="datePublished">{{ mods.publication_date|default:"(publication date)" }} {% if mods.report.report_number %}| {{ mods.report.report_number }} {% endif %}</span></p>
    {% if b.edition %}
      <p>{% if b.edition %}{{ b.edition }}{% endif %}</p>
    {% endif %}
    <p><span itemprop="genre">{{ mods.genre|default:"Book" }}</span> {% if mods.version %}| {{ mods.version }}{% endif %}</p>
    {% endwith %}
    {% if mods.final_version.doi %}<p>{{ mods.final_version.doi }}</p>{% endif %} {# TODO: linkify ? #}
    {% if mods.ark_uri %}
      <p id="permalink">Permanent URL: <a rel="bookmark" href="{{ mods.ark_uri }}">{{ mods.ark_uri }}</a></p>
    {% endif %}
{% endwith %} {# mods #}
</div>