{# display a single field with label (TODO: optional help tip) #}
<div  class="{{ divclass|default:'' }} {{ field.css_classes }}">
{% if article.descMetadata.content.genre == "Conference" %}

<label for="{{ field.name }}">{% firstof label field.label %}{% if field.field.required or field.label == 'Embargo duration' or field.label == 'Journal Title' or field.label == 'Version' or field.label == 'Book Title' %} <span class='required'>*</span>{% endif %}</label>

{% else %}

<label for="{{ field.name }}">{% firstof label field.label %}{% if field.field.required or field.label == 'Embargo duration' or  field.label == 'Publisher' or field.label == 'Journal Title' or field.label == 'Version' or field.label == 'Book Title' %} <span class='required'>*</span>{% endif %}</label>

{% endif %}
   {{ additional_text }}
   {{ field }}
 {% if field.help_text %}
   <a class="tip" title="{{ field.help_text }}"></a>
 {% endif %}
 {% if field.errors %}
 <p class="error">{{ field.errors }}</p>  {# TODO: formatting #}
 {% endif %}
</div>

