{% load publication_extras %}
{% load tags %}
{% comment %}Template snippet for list-display of a single article. 
Expects a Solr result as template variable `article` .
If `profile_user` is set, author list will be displayed for that user's profile page.
Displays ajax editable tags for logged-in users (requires jquery-ui & editable tag js).
{% endcomment %}
<span class="title">{{ article.title }}</span>
{% if 'content' in article.dsids %}    {# link to download PDF, if available #}
  {% spaceless %}
  <a href="{% url publication:pdf article.pid %}">
    <img src="{{ STATIC_URL }}images/pdf.jpg" alt="[PDF]"/>
  </a>
  {% endspaceless %}
{% endif %}
{% if article.pmcid %}
  <a href="{{ article.pmcid|pmc_url }}" title="view article on PubMed Central">PMC</a>
{% endif %}
{# TODO: perms check #}
{% if 'contentMetadata' in article.dsids %}
{# for now, only content metadata we have is NLM XML #}
  <a href="{% url publication:ds article.pid 'contentMetadata' %}">NLM</a>
{% endif %}
    
{% if user.is_authenticated and user.username in article.owner %}
  <a href="{% url publication:edit article.pid %}">
    <img src="{{ STATIC_URL }}images/edit.png" alt="edit" title="edit"/>
  </a>
{% endif %}

{% if not profile_user or article.owner|length > 1 %}
<p class='doc-info'>
  {% if profile_user %}co-authored with {% else %} by {% endif %}
{% for author in article.owner %}
  {% if author != profile_user.username %}
  <a class="account" href="{% url accounts:profile author %}">{{ author }}</a>{% if not forloop.last %}; {% endif %}
  {% endif %}
{% endfor %}
</p> {% endif %}

<p class='doc-info'>added {{ article.created }}; last modified {{ article.last_modified }}</p>

{% if user.is_authenticated %}  {# private article tags for logged in users #}
 <div class="tag-edit article-tags">  {# NOTE: significant overlap with research interest template code #}
 {% with tags=article|tags_for_user:user %}
  <span class="tag-list">
    <a class="edit"><img src="{{ STATIC_URL }}images/tag.png" alt="tag" title="edit tags"/></a>
    <span class="tags">{% if tags %} 
       {% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}
    {% endif %}</span>
  </span>
  <form method="POST" style="display:none" 
          action="{% url accounts:tags article.pid %}">{% csrf_token %}
      <input type="text" name="tags" value="{{ tags|join:', ' }}{% if tags|length > 1 %}, {% endif %}"/>
      <input type="submit" value="Save"/>
      <input type="button" name="cancel" value="Cancel"/>
  </form>
  {% endwith %}
</div>
{% endif %}
