{% load publication_extras %}
{% load tags %}
{% comment %}Template snippet for list-display of a single article. 
Expects a Solr result as template variable `article` .
If `profile_user` is set, author list will be displayed for that user's profile page.
Displays ajax editable tags for logged-in users (requires jquery-ui & editable tag js).
{% endcomment %}

{% if article.score %}
  <div class=relevance>
    <div class=score title="{{ article.score }}"
         style="width:{% widthratio article.score 1 100 %}%">&nbsp;</div>
  </div>
{% endif %}

<span class="title"><a href="{% url publication:view article.pid %}">{{ article.title }}</a></span>

{% if 'content' in article.dsids %}    {# link to download PDF, if available #}
  {% spaceless %}
  <a href="{% url publication:pdf article.pid %}">
    <img src="{{ STATIC_URL }}images/pdf.jpg" alt="[PDF]"/>
  </a>
  {% endspaceless %}
{% endif %}

{% if article.pmcid %}
  <a href="{{ article.pmcid|pmc_url }}" title="view article on PubMed Central">PMC</a>
{% endif %}
{# TODO: perms check for MODS/NLM (only show to admins) #}
{% if 'descMetadata' in article.dsids %}
  <a href="{% url publication:ds article.pid 'descMetadata' %}">MODS</a>
{% endif %}
{% if 'contentMetadata' in article.dsids %}
{# for now, only content metadata we have is NLM XML #}
  <a href="{% url publication:ds article.pid 'contentMetadata' %}">NLM</a>
{% endif %}

{# display an edit link when appropriate -  author+unpublished or reviewer #}
{% if user.is_authenticated %}
  {% if user.username in article.owner and article.state = 'I' or perms.publication.review_article %}
  <a href="{% url publication:edit article.pid %}">
    <img src="{{ STATIC_URL }}images/edit.png" alt="" title="edit"/>
  </a>
  {% endif %}
{% endif %}

{% if not profile_user or article.owner|length > 1 %}
<p class='doc-info'>
  {% if profile_user %}co-authored with {% else %} by {% endif %}
  {% for author_str in article.parsed_author %}
    {% with author_str|parse_author as author %}
      {% if profile_user.username != author.netid %}
        {% spaceless %}
          {% if author.netid %}
              <a class="author" href="{% url accounts:profile author.netid %}">
                {{ author.name }}</a>
          {% else %}
            <span class='author'>{{ author.name }}</span>
          {% endif %}
        {% endspaceless %}{% if not forloop.last %}; {% endif %}
      {% endif %}
    {% endwith %}
  {% endfor %}
</p>
{% endif %}

<p class='doc-info'>added {{ article.created }}; last modified {{ article.last_modified }}</p>

{% if user.is_authenticated %}  {# private article tags for logged in users #}
 <div class="tag-edit article-tags">  {# NOTE: significant overlap with research interest template code #}
 {% with tags=article|tags_for_user:user %}
  <span class="tag-list">
    <a class="edit"><img src="{{ STATIC_URL }}images/tag.png" alt="tag" title="edit tags"/></a>
    <span class="tags">{% if tags %} 
       {% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}
    {% endif %}</span>
  </span>
  <form method="POST" style="display:none" 
          action="{% url accounts:tags article.pid %}">{% csrf_token %}
      <input type="text" name="tags" value="{{ tags|join:', ' }}{% if tags|length > 1 %}, {% endif %}"/>
      <input type="submit" value="Save"/>
      <input type="button" name="cancel" value="Cancel"/>
  </form>
  {% endwith %}
</div>
{% endif %}

{% if article.solr_highlights %} {# highlighting snippets #}
  {% if article.solr_highlights.fulltext %}
  {# for now list only the first snippet in case somehow there are many #}
    <p class='context-highlighting'>{{ article.solr_highlights.fulltext.0|safe }}</p>
  {% endif %}
  {% if article.solr_highlights.abstract %}
    <p class='context-highlighting'>{{ article.solr_highlights.abstract.0|safe }}</p>
  {% endif %}
{% endif %}
