{# Table of Contents for flat pages documents #}

{# about pages #}
{% if sitepages.staff %}
<h3 class="shadowLight">About OpenEmory</h3>
<ul>
 <li><a href="/about">About OpenEmory</a></li>
 <li><a href="{{ sitepages.staff.url }}">{{ sitepages.staff.title|default:"About Us" }}</a></li>
 <li><a href="{{ sitepages.citing_openemory_content.url }}">{{ sitepages.citing_openemory_content.title|default:"Citing Articles" }}</a></li>
 <li><a href="{% url 'feedback' %}">Contact Us</a></li>
 <li><a href="http://web.library.emory.edu/about/privacy-policy/index.html" alt="Privacy Policy" target="_blank">Privacy Policy</a></li>
 <li><a href="{{ sitepages.terms.url }}">{{ sitepages.terms.title|default:"Terms of Use" }}</a></li>
</ul>

 <h3 class="shadowLight">For Authors</h3>
 <ul>
  <li><a href="{{ sitepages.howto_submit.url }}">{{ sitepages.howto_submit.title|default:"How to Submit" }}</a></li>
  <li><a href="{{ sitepages.depositadvice.url }}">{{ sitepages.depositadvice.title|default:"Deposit Advice" }}</a></li>
  <li><a href="{{ sitepages.author_rights.url }}">{{ sitepages.author_rights.title|default:"Author Rights" }}</a></li>
  <li><a href="{{ sitepages.publishing_your_data.url }}">{{ sitepages.publishing_your_data.title|default:"Publishing Your Data" }}</a></li>
  <li><a href="{{ sitepages.faq.url }}">{{ sitepages.faq.title|default:"FAQ" }}</a></li>
  <li><a href="http://guides.main.library.emory.edu/content.php?pid=43389&amp;sid=2144393" target="_blank">Emory Open Access Policy</a></li>
  <li class="lastLi"><a href="http://sco.library.emory.edu/open-access-publishing/oa-funding-support/index.html">Open Access Fund</a></li>
 </ul>
{% endif %}
