{# Table of Contents for flat pages documents #}
{% load flatpages %}

{# about pages #}
{% if sitepages.about %}
<h2>{% if sitepages.about.url == flatpage.url %}{{ sitepages.about.title }} 
    {% else %}<a href="{{ sitepages.about.url }}">{{ sitepages.about.title }}</a>{% endif %}</h2> 
{% get_flatpages sitepages.about.url as about_pages %}
 <ul>
  {% for page in about_pages %}
    {% if page.url != sitepages.about.url %} {# don't re-display about #}
      <li>
        {% if page.url == flatpage.url %}{{ page.title }}{# don't link the current page #}
        {% else %}<a href="{{ page.url }}">{{ page.title }}</a>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
 </ul>
{% endif %}

{# how-to pages #}
{% if sitepages.howto %}
<h2>{% if sitepages.howto.url == flatpage.url %}{{ sitepages.howto.title }} 
    {% else %}<a href="{{ sitepages.howto.url }}">{{ sitepages.howto.title }}</a>{% endif %}</h2> 
{% get_flatpages sitepages.howto.url as howto_pages %}
<ul>
  {% for page in howto_pages %}
    {% if page.url != sitepages.howto.url %}
      <li>
        {% if page.url == flatpage.url %}{{ page.title }}{# don't link the current page #}
        {% else %}<a href="{{ page.url }}">{{ page.title }}</a>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
 </ul>
{% endif %}