{% load search_utils %}

{% with total=results.paginator.count %}
  {% if total %}
    <p class="results">Article{{ total|pluralize }} {{ results.start_index }}{% if results.start_index != results.end_index %}-{{ results.end_index }}{% endif %} of {{ total }}</p>
  {% endif %}
{% endwith %}


  <div id="csrftoken">{% csrf_token %}</div> {# embed csrf for use in ajax calls #}
<div class="searchResults">
{% for record in results.object_list %}
    <div class="queue-item">
      <a class="ingest button" href="{% url publication:ingest %}">ingest
        <span class="pmcid" style="display:none">{{ record.pmcid }}</span>{# embed ID for JS #}
      </a>
      <a class="ignore button" href="{% url harvest:record record.id %}">ignore</a>
      
      <div class="record">
        <a href="{{ record.access_url }}"><em class="title">{{ record.title }}</em></a>
        <p class="author">
          {% for author in record.authors.all %}
            {% if author.get_profile.has_profile_page %}
              <a href="{% url accounts:profile author.username %}">{{ author.get_full_name }}</a>{% if not forloop.last %}; {% endif %}
            {% else %}
              {{ author.get_full_name }}{% if not forloop.last %}; {% endif %}
            {% endif %}
          {% endfor %}
        </p>
        <p class="doc-info">
          PMC {{ record.pmcid }}; 
          {% if record.fulltext %}<strong>full text available</strong>; {% endif %}
          harvested {{ record.harvested }}</p>
         <div class="message" style="display:none" >message</div>
      </div>
  </div>
  {% empty %}
    <div>No records available for review</div>
  {% endfor %}
</div>


{% url harvest:queue as queue_url %}
  {% pagination_links results show_pages '' '' '' queue_url %}
