{% extends "site_base.html" %}

{% block page-subtitle %} | Harvest Queue{% endblock %}

{% block style %}
  {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/queue.css"/>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/queue.js"></script>
{% endblock %}

{% block sidebar %}{% endblock %}{# no sidebar content for now #}
{% block content %}
  <h1>Harvested Records</h1>

  {% include "harvest/snippets/queue.html" %}
{% endblock %}
