{% extends "site_base.html" %}

{% block page-subtitle %} | Harvest Queue{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/queue.js"></script>
{% endblock %}


{% block content %}
  <h1>Harvested Records</h1>
  <p>{{ records.count }} records</p>
  <div id="csrftoken">{% csrf_token %}</div> {# embed csrf for use in ajax calls #}
  {% for record in records %}
    <div class="queue-item">
      <a class="ingest button" href="{% url publication:ingest %}">ingest
        <span class="pmcid" style="display:none">{{ record.pmcid }}</span>{# embed ID for JS #}
      </a>
      
      <div class="record">
        <a href="{{ record.access_url }}"><em class="title">{{ record.title }}</em></a>
        <p class="author">
          {% for author in record.authors.all %}
          <a href="{% url accounts:profile author.username %}">{{ author.get_full_name }}</a>{% if not forloop.last %}; {% endif %}
          {% endfor %}
        </p>
        <p class="doc-info">
          PMC {{ record.pmcid }}; 
          {% if record.fulltext %}<strong>full text available</strong>; {% endif %}
          harvested {{ record.harvested }}</p>
         <div class="message" style="display:none" >message</div>
      </div>
  </div>
  {% empty %}
    <div>No records available for review</div>
  {% endfor %}
{% endblock %}
