{% extends "site_base.html" %}

{% block page-subtitle %}{{ block.super }} | Dashboard{% endblock %}

{% block sidebar %}{% endblock %}{# no sidebar #}

{% comment %}
  FIXME: Define CSS for dropdown boxes for, e.g., autocomplete. Without
    this, autocomplete dropdowns are completely unstyled. The CSS below,
    unfortunately, conflicts with our dashboard tabs.
{% block style %} {{ block.super }}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/edit.css" /> 
  {% with jqui_theme=STATIC_URL|add:'css/ui-lightness/' %}
   <link rel="stylesheet" type="text/css" href="{{ jqui_theme }}/jquery-ui-1.8.18.custom.css" /> 
   {% endwith %}
{% endblock %}
{% endcomment %}

{% block scripts %}{{ block.super }}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>
	<script type="text/javascript" language="javascript">
		$(function () {
			// Tabs
			$('#tabs').tabs({
                          show: function(event, ui) {
                            // TODO: only do this when showing #edit-profile
                            update_alternates($('.positionsList'));
                            update_alternates($('.degreesList'));
                          }
                        });

			//hover states on the static widgets
			$('#dialog_link, ul#icons li').hover(
					function () { $(this).addClass('ui-state-hover'); },
					function () { $(this).removeClass('ui-state-hover'); }
				);
		});	

	<!-- page specific scripts -->

		{# TODO: refactor. some of this is shared with publication/view.html #}
		$(document).ready(function () {
			var x = 0;
			var y = 0;
			// add last class to all last-child li elements (css selectors level 3 compatibility) 
			$('li:last-child').addClass('last');
			// dynamically assign tab classes based on tab selection
			$('ul.ui-tabs-nav li a').click(function (i) {
				// prep: remove classes from other tabs
				$('ul.ui-tabs-nav li a').each(function (i) {
					$(this).parents('li', function () {
						$(this).addClass('foo');
						//$(this).removeClass('ui-tabs-selected');
						//$(this).removeClass('ui-state-active');
					});
				});
				// add class to clicked tab
				//$(this).addClass('ui-tabs-selected');
				//$(this).addClass('ui-state-active');
			});
		}); 

		$(document).ready(function () {
			// hide profile div if no img
			if ($('.photo img').size() === 0) {
				$('.photo').hide();
			} else {
				$('.photo').show();
			};
			// insert commas after li elements (except for last li)
			$('ul.commas li').each(function () {
				if (!$(this).hasClass('last')) {
					$(this).append(', ');
				}
			});
			// hide optional lists and heading if no li elements
			$('.profile .optional ul').each(function () {
				if ($(this).children().size() === 0) {
					$(this).prev('h2').hide();
					$(this).hide();
				} else {
					console.log($(this).children().size());
					$(this).prev('h2').show();
					$(this).show();
				}
			});
                        // configure formsets
                        $(".position-form").formset({
                            prefix: "{{ form.inlineformsets.positions.prefix }}",
                            {# deleteCssClass: "close", enable when we get icon #}
                            deleteText: "[x]",
                            addText: "+ Add Affiliation",
                            added: function(row) {
                              update_alternates($('.positionsList'))
                            },
                            removed: function(row) {
                              update_alternates($('.positionsList'))
                            },
                        });
                        $('ul.degrees li').formset({
                            prefix: "{{ form.inlineformsets.degrees.prefix}}",
                            addText: "+ Add Degree",
                            addCssClass: "addDegree",
                            {# deleteCssClass: "close", enable when we get icon #}
                            deleteText: "[x]",
                            added: function(row) {
                              update_alternates($('.degreesList'))
                            },
                            removed: function(row) {
                              update_alternates($('.degreesList'))
                            },
                        });
                        {% comment %}
                          FIXME: autocommit is disabled as of 2012-03-07
                            because it currently isn't styled correctly. See
                            note above in the style block.
                        $(".researchInterests input").autocomplete({
                          source: "{% url accounts:interests-autocomplete %}",
                        });
                        {% endcomment %}
			// populate degrees held on addDegree click
			$('a.addDegree').live('click', function (e) {
				e.preventDefault();
                                var degreeHtml =
                                    $('input[name=title]').val() + ', ' +
                                    $('input[name=institution]').val() + ', ' +
                                    $('input[name=year]').val() + 
                                    '<a class="close" href=""></a>'

				$('ul.degrees').append('<li>' + $('input[name=title]').val() + ', ' + $('input[name=institution]').val() + ', ' + $('input[name=year]').val() + '<a class="close" href=""></a></li>');
				$('input[name=title]').val('');
				$('input[name=institution]').val('');
				$('input[name=year]').val('');
				// alternate list bg color 
				$('ul.altList li:nth-child(odd)').addClass('alternate');
				$('div.degreesList').show();
			});
			$('ul.degrees li a.close').live('click', function (e) {
				e.preventDefault();
				$(this).parent('li').remove();
				// alternate list bg color 
				$('ul.altList li:nth-child(odd)').addClass('alternate');
				$('ul.altList li:nth-child(even)').removeClass('alternate');
			});
                        //prevent ENTER key from submitting form
                        disableEnter("#profile-edit");
		});
	</script>
{% endblock %}

{% block contentdivclass %}faculty{% endblock %}
{% block content %}

				<div id="tabs" class="tabs">
					<ul>
						<li><a href="#dashboard">Dashboard</a></li>
						<li><a href="#documents">Your Documents</a></li>
						{# TODO: see comment in tab snippet linked below <li><a href="#documentsTagged">Tagged Documents</a></li> #}
						<li><a href="#profile">View Your Profile</a></li>
						<li><a href="#edit-profile">Edit Your Profile</a></li>
					</ul>
                                        {% include "accounts/snippets/dashboard-tab.html" %}
                                        {% include "accounts/snippets/documents-tab.html" %}
                                        {# TODO: see comment in file {% include "accounts/snippets/tagged-docs-tab.html" %} #}
                                        {% include "accounts/snippets/profile-tab.html" %}
                                        {% include "accounts/snippets/edit-profile-tab.html" %}
				</div>
{% endblock %}
