{% extends "site_base.html" %}

{% block page-subtitle %}{{ block.super }} | Dashboard{% endblock %}

{% block sidebar %}{% endblock %}{# no sidebar #}

{% block style %} {{ block.super }}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/edit.css" /> 
{% comment %}
  FIXME: Define CSS for dropdown boxes for, e.g., autocomplete. Without
    this, autocomplete dropdowns are completely unstyled. The CSS below,
    unfortunately, conflicts with our dashboard tabs.
  {% with jqui_theme=STATIC_URL|add:'css/ui-lightness/' %}
   <link rel="stylesheet" type="text/css" href="{{ jqui_theme }}/jquery-ui-1.8.18.custom.css" /> 
   {% endwith %}
{% endcomment %}
{% endblock %}

{% block scripts %}{{ block.super }}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>
	<script type="text/javascript" language="javascript">
		$(function () {
                {% if not tab_template %}
                {# if a single tab is loaded (ajax fall-back), do NOT init jquery tabs #}
			// Tabs
			$('#tabs').tabs({
                          select: function(){ $("#loading-tab").show(); },
                          load: function(event, ui){ 
                            $("#loading-tab").hide(); 
                            $(ui.panel).delegate("a.within-tab", "click", function(event) {
                               $(ui.panel).load(this.href);
                               event.preventDefault();
                            });
                            $(ui.panel).delegate("form.within-tab", "submit", function(event) {
                              $(this).ajaxSubmit({
                                dataType: 'html',
                                success: function(data) {
                                  $(ui.panel).html(data);
                                }
                              });
                              event.preventDefault();
                            });
                          },
                          error: function(xhr, status, index, anchor) {
                            $(anchor.hash).html("Error loading content.");
                          },
                          effect: 'ajax', 
                          history: true
                        });
                 {% endif %}

			//hover states on the static widgets
			$('#dialog_link, ul#icons li').hover(
					function () { $(this).addClass('ui-state-hover'); },
					function () { $(this).removeClass('ui-state-hover'); }
				);
		});	

	<!-- page specific scripts -->

		{# TODO: refactor. some of this is shared with publication/view.html #}
		$(document).ready(function () {
			// hide optional lists and heading if no li elements
			$('.profile .optional ul').each(function () {
				if ($(this).children().size() === 0) {
					$(this).prev('h2').hide();
					$(this).hide();
				} else {
					console.log($(this).children().size());
					$(this).prev('h2').show();
					$(this).show();
				}
			});
		});
	</script>
{% endblock %}

{% block contentdivclass %}faculty{% endblock %}
{% block content %}
				<div id="tabs" class="tabs">
					<ul>
						<li><a href="{% url accounts:dashboard author %}" title="dashboard">Dashboard</a></li>
						<li><a href="{% url accounts:documents author %}" title="documents">Your Documents</a></li>
						{# TODO: see comment in tab snippet linked below <li><a href="#documentsTagged">Tagged Documents</a></li> #}
						<li><a href="{% url accounts:dashboard-profile author %}" title="profile">Your Profile</a></li>
					</ul>
                                        {% if tab_template %}
                                          <div id="{{ tab }}">
                                            {% include tab_template %}
                                          </div>
                                        {% else %}
                                          {# display while tabs are loading #} 
                                          <div id="loading-tab">Loading...</div> 
                                        {% endif %}

                                        {# TODO: see comment in file {% include "accounts/snippets/tagged-docs-tab.html" %} #}
				</div>
<div class="clear"></div>

{% endblock %}
