{% extends "site_base.html" %}
{% block page-subtitle %} | Departments and Divisions{% endblock %}

{% block content %}
    <h1>Departments and Divisions</h1>
    {% regroup departments by division_name as division_list %}

    {% for div in division_list %}
      {# display division once for all departments in that division #}
      {# if a division has only one department with the same name, collapse them #}
      {% with first=div.list.0 %}
        <p class="division">
          {% if div.list|length == 1 and first.department_name|lower == div.grouper|lower %}
          <a href="{% url accounts:department first.department_id %}">{{ div.grouper }}</a>
          {% else %}{{ div.grouper }}{% endif %}
        </p>
        {% if div.list|length > 1 or first.department_name|lower != div.grouper|lower %}
          {% for d in div.list %}
            <p class="department"><a href="{% url accounts:department d.department_id %}">{{ d.department_name }}</a></p> 
          {% endfor %} {# departments #}
        {% endif %} 
      {% endwith %}
    {% endfor %} {# end division group #}
{% endblock %}