{% extends "site_base.html" %}
{% block page-subtitle %} | Departments | 
{{ division }} {% if department != division %}: {{ department }}{% endif %}{% endblock %}

{% block content %}
    <h1>{{ division }}</h1>
    {% if department != division %}<h2>{{ department }}</h2>{% endif %}
    {% if esdpeople %}
      <ul>
      {% for author in esdpeople %}
          <li>
            <a href="{% url accounts:profile author.username %}">{% firstof author.directory_name author.first_name|add:" "|add:author.last_name author.ad_name author.username %}</a>
          </li> 
      {% endfor %}
      </ul>
    {% endif %}
    {# TODO: display something if no users are found ? #} 
{% endblock %}