{% extends "site_base.html" %}

{% block page-subtitle %} | Profiles | 
  {% firstof author.get_profile.esd_data.directory_name author.get_profile.get_full_name author.username %} | Edit Profile
{% endblock %}

{% block style %} {{ block.super }}{% spaceless %}
  {% with jqui_theme=STATIC_URL|add:'style/jquery-ui/redmond' %}
    <link rel=stylesheet type=text/css href="{{ jqui_theme }}/jquery-ui-1.8.16.custom.css" > 
  {% endwith %} {% endspaceless %}
{% endblock %}

{% block scripts %} {{ block.super }} 
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      {# research interest autocomplete #}
      $("input[name='research_interests']").autocomplete({
     	source: "{% url accounts:interests-autocomplete %}",
      });
      {# degree name and institution autocomplete #}
      $("input[name$='institution']").autocomplete({
        source: "{% url accounts:degree-autocomplete 'institution' %}",
      });
      $("input[name*='DEGREES'][name$='name']").autocomplete({
        source: "{% url accounts:degree-autocomplete 'name' %}",
        minLength: 0,
      });
    }); 

  </script>
{% endblock %}

{% block content %}
  {% with author.get_profile.esd_data as esd %}
    <h1>Edit profile for {% firstof esd.directory_name author.get_profile.get_full_name author.username %}</h1> 
  {% endwith %}

 <form method="POST" action="{% url accounts:edit-profile author.username %}">{% csrf_token %}
  <table>
    {{ form.non_field_errors }}
    {% with field=form.research_interests %}
      <tr class="{{ field.css_classes }}">
       <th><label for="{{ field.id }}">{{ field.label }}:</label></th>
       <td>{{ field }}
          <br/>{{ field.help_text }}
          {{ field.errors }}
       </td>
      </tr>
    {% endwith %}
    {% with field=form.show_suppressed esd=author.get_profile.esd_data %} 
      {# only show suppression-override if relevant #}
      {% if esd.internet_suppressed or esd.directory_suppressed %}
      {% if esd.internet_suppressed %}
        <tr><td colspan="2">Your profile is set as "internet suppressed".</td></tr>
      {% endif %}
      {% if esd.directory_suppressed %}
        <tr><td colspan="2">Your profile is set as "directory suppressed".</td></tr>
      {% endif %}
      <tr class="{{ field.css_classes }}">
       <th><label for="{{ field.id }}">{{ field.label }}:</label></th>
       <td>{{ field }}
          <br/>{{ field.help_text }}
          {{ field.errors }}
       </td>
      </tr> 
      {% endif %}
    {% endwith %}
    
   <tr><th class="section-header" colspan="2">Degrees</th></tr>
   <tr><td colspan="2">{{ form.inlineformsets.degrees.as_table }}</td></tr>

  </table>
  <input type="submit" value="Save"/>
</form>
   

{% endblock %}
    
