{% extends "site_base.html" %}
{% block page-subtitle %}{{ block.super }} | Contact Us{% endblock %}

{% block contentdivclass %}{% endblock %}
{% block sidebar-title %}Contact Us:{% endblock %}
{% block sidebar-content %}
<p>Questions or comments about using the site?  Use this form to
contact site administrators.  Please provide us with your information
so that we may contact you regarding your feedback.<br />
To view a list of OpenEmory staff, please <a href="{{ sitepages.staff.url }}">click here.</a>
</p>
{% endblock sidebar-content %}
{% block sidebar-content-2 %}
<p style="padding:12px 10px 1px;">To contact a faculty author, please use the <a target="_blank" href="http://directory.service.emory.edu/index.cfm">Emory Online Directory</a></p>
{% endblock sidebar-content-2 %}

{% block content %}

  <div class="right">
    <div class="top">
      <h1 class="shadow">Contact OpenEmory Staff</h1>
      <p>
      You can also find information about OpenEmory on our list of
          <a href="{{ sitepages.faq.url }}">Frequently Asked Questions</a>
      </p>
    </div>
  </div>

  <form method="post" action=""> {% csrf_token %}
    {{ form.non_field_erros }}
    <div class="right">
      <div class="formLineWrapper">
        <div class="formHalf">
          {{ form.name.errors }}
        </div>
        <div class="formHalf">
          {{ form.email.errors }}
        </div>
        <div style="clear:both"></div>
      </div>
      <div class="formLineWrapper">
        <div class="formHalf">
          <label for="{{ form.name.auto_id }}" class="{{ form.name.css_classes }}">{{ form.name.label }}:</label>
          {{ form.name }}
        </div>
        <div class="formHalf">
          <label for="{{ form.email.auto_id }}" class="{{ form.email.css_classes }}">{{ form.email.label }}:</label>
          <span class="floatRight rightLabel"><span class="required">*</span>: required</span>
          {{ form.email }}
        </div>
        <div style="clear:both"></div>
      </div>

      <div class="formLineWrapper">
        <div class="formHalf">
          {{ form.phone.errors }}
        </div>
        <div class="formHalf">
          {{ form.subject.errors }}
        </div>

        <div style="clear:both"></div>
      </div>
      <div class="formLineWrapper">
        <div class="formHalf">
          <label for="{{ form.phone.auto_id }}" class="{{ form.phone.css_classes }}">{{ form.phone.label }}:</label>
          {{ form.phone }}
        </div>
        <div class="formHalf">
          <label for="{{ form.subject.auto_id }}" class="{{ form.subject.css_classes }}">{{ form.subject.label }}:</label>
          {{ form.subject }}
        </div>
        <div style="clear:both"></div>
      </div>

      <div class="formWhole">
        {{ form.message.errors }}
        <label for="{{ form.message.auto_id }}" class="{{ form.message.css_classes }}">{{ form.message.label }}:</label>
        {{ form.message }}
      </div>
      <div class="formWhole">
          <p>Please verify the word below before submitting your feedback.</p>
          {{ form.captcha.errors }}
          {{ form.captcha }}
      </div>
      <div class="buttons">
        <input type="submit" class="submit" id="submit" value="Submit" />
      </div>
    </div>
  </form>

{% endblock %}
