{% extends "site_base.html" %}
{% block page-subtitle %} | Forbidden{% endblock %}

{% block sidebar-title %}Related content:{% endblock %}
{% block sidebar-content %}
      {% include "flatpages/snippets/list_docs.html" %}
{% endblock %}

{% block content %}
<div class="inner">
	<div class="right">	
		<div class="top">
			<div class="left" style="width: 100%">
  				<h1 class="shadow">Permission Denied</h1>
  				<p>You do not have permission to access this page</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
