{% extends "site_base.html" %}
{% block page-subtitle %} | Server Error{% endblock %}
{% block style %}
{{ block.super }}
<!-- foobar -->
{% endblock %}

{% block sidebar-title %}Related content:{% endblock %}
{% block sidebar-content %}
      {% include "flatpages/snippets/list_docs.html" %}
{% endblock %}

{% block content %}
<div class="inner">
	<div class="right">	
		<div class="top">
			<div class="left" style="width: 100%">
				<h1 class="shadow">Something went wrong</h1>
  				We're sorry, but the page you're looking for may have been moved or deleted. You may have followed an outdated link.
			</div>
		</div>
	</div>
</div>
{% endblock %}
