{% extends "site_base.html" %}
{% block page-subtitle %}{{ block.super }} | Feedback{% endblock %}

{% block contentdivclass %}form{% endblock %}
{% block sidebar-title %}Feedback:{% endblock %}
{% block sidebar-content %}
<p>Questions or comments about using the site?  Use this form to
contact site administrators.  Please provide us with your information
so that we may contact you regarding your feedback.<br />
<a href="{{ sitepages.staff.url }}">To view a list of OpenEmory staff, please click here.</a>
</p>
{% endblock %}

{% block content %}
                <form method="post" target=""> {% csrf_token %}
				<div class="right">
					<div class="formHalf">
						<label for="firstName">
							First name:*</label>
						<input id="firstName" name="firstName" class="text" type="text" />
					</div>
					<div class="formHalf">
						<label for="lastName">
							Last name:*</label><span class="required floatRight">required*</span>
						<input id="lastName" name="lastName" class="text" type="text" />
					</div>
					<div class="formHalf">
						<label for="emailAddress">
							Email Address:*</label>
						<input id="emailAddress" name="email" class="text" type="text" />
					</div>
					<div class="formHalf">
						<label for="phoneNumber">
							Phone Number:</label>
						<input id="phoneNumber" name="phoneNumber" class="text" type="text" />
					</div>
					<div class="formHalf">
						<label for="selectTopic">
							Select Topic:*</label>
						<input id="selectTopic" name="selectTopic" class="text" type="text" />
					</div>
					<div class="clear"></div>
					<div class="formHalf">
						<label for="subjectLine">
							Subject Line:*</label>
						<input id="subjectLine" name="subjectLine" class="text" type="text" />
					</div>
					<div class="formWhole">
						<label for="message">
							Message:*</label>
						<textarea id="message"></textarea>
					</div>
					<div class="buttons"><a href="" class="cancel">Cancel</a>
						<input type="submit" class="submit" id="submit" value="Submit" />
					</div>
				</div>
                </form>

{% endblock %}