<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load humanize %}
<!--[if IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml"; class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns="http://www.w3.org/1999/xhtml"; class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns="http://www.w3.org/1999/xhtml"; class="ie ie9"> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
  <title>{% block page-title %}OpenEmory{% block page-subtitle %}{% endblock %}{% endblock %}</title>
  <link rel="SHORTCUT ICON" href="{{ STATIC_URL }}favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {% block meta %}
  {% endblock %}
  {% block style %}
  <link media="screen, projection" type="text/css" href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" />
  <link media="print" type="text/css" href="{{ STATIC_URL }}css/print.css" rel="stylesheet" />
  <link media="screen, projection" type="text/css" href="{{ STATIC_URL }}style/jquery.ddmenu.css" rel="stylesheet" />
  <link media="screen, projection" type="text/css" href="{{ STATIC_URL }}style/jquery.ddmenu.css" rel="stylesheet" />
  {% endblock %}
  {% block scripts %}
  <!--
  [if lte IE 6]>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.ie6.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/DD_belatedPNG_0.0.8a-min.js"></script>
  <script type="text/javascript">DD_belatedPNG.fix('INSERT TAGS OR CSS CLASSES HERE');</script>
  [endif]
  -->
  <!-- dynamic header slideshow, tabs -->
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.7.1.min.js"></script>
  <!-- ui tabs -->
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.design.js"></script>
  <!-- ui tabs, quick tag popup -->
  <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.17.custom.min.js"></script>
      <!-- drop down top menu -->
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.ddmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.tooltips.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.filestyle.js"></script>
     {% endblock %}
     {% block page-head %}{# override this for any additional header content #}{% endblock %}

     <!-- google analytics -->
     <script type="text/javascript" src="{{ STATIC_URL }}js/google-analytics.js"></script>

   {% if GOOGLE_SITE_VERIFICATION %}
     <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION}}" />
   {% endif %}
</head>
<!--
Web Design by 352 Media Group®
422 SW 140th Terrace
Newberry, Fl 32669
(877) 352-Media
sales@352media.com
www.352media.com
-->
<body>
    {% if ENABLE_BETA_WARNING %}
    {% include 'common/snippets/beta_warning.html' %}
    {% endif %}

    {% if banner %}
    {% include 'mx/banner.html' %}
    {% endif %}
    <div id="skip-to">
      <!-- quick links for screen readers/accessibility -->
      <a href="#navigation">Skip to navigation</a>
      <a href="#content">Skip to content</a>
    </div>

  <div class="perimeter">
    <div class="TopMenu">
      <div class="wrapper">
        <ul>
          <li><a href="http://web.library.emory.edu/">Woodruff</a></li>
          <li><a href="http://business.library.emory.edu/">Business</a></li>
          <li><a href="http://health.library.emory.edu/">Health Sciences</a></li>
          <li><a href="http://law.emory.edu/">Law</a> </li>
          <li><a href="http://marbl.library.emory.edu/">MARBL</a></li>
          <li><a href="http://oxford.emory.edu/Library/">Oxford College</a></li>
          <li><a href="http://www.pitts.emory.edu/">Theology</a></li>
        </ul>
        <a href="http://www.emory.edu/" class="emory"></a></div>
      <div class="clear"></div>
    </div><!-- /.TopMenu -->
    <div class="clear"></div>
    <div class="header">
      <div class="wrapper"><a class="logo" href="{% url 'site-index' %}" title="Emory Libraries: OpenEmory"></a>
        <div class="HeaderRight">
          <div class="links">
            <ul id="jsddm">
              <li class="dd_parent">
                <a href="#" class="WhiteArrow">Schools</a>
                <ul class="dd_content">
                  <li>
                    <h4>Undergraduate</h4>
                    <ul class="clear_left">
                      <li class="no_float subitem"><a href="http://www.college.emory.edu/" target="_blank" title="Emory College">Emory College</a></li>
                      <li class="no_float subitem"><a href="http://oxford.emory.edu/" target="_blank" title="Oxford College">Oxford College</a></li>
                      <li class="no_float subitem"><a href="http://www.goizueta.emory.edu/" target="_blank" title="Business School">Business School</a></li>
                      <li class="no_float subitem"><a href="http://www.nursing.emory.edu/" target="_blank" title="School of Nursing">School of Nursing</a></li>
                    </ul>
                    <h4>Community</h4>
                    <ul class="clear_left">
                      <li class="no_float subitem"><a href="http://www.college.emory.edu/" target="_blank" title="Emory College">Emory College</a></li>
                      <li class="no_float subitem"><a href="http://oxford.emory.edu/" target="_blank" title="Oxford College">Oxford College</a></li>
                      <li class="no_float subitem"><a href="http://www.goizueta.emory.edu/" target="_blank" title="Business School">Business School</a></li>
                      <li class="no_float subitem"><a href="http://www.nursing.emory.edu/" target="_blank" title="School of Nursing">School of Nursing</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>Graduate</h4>
                    <ul>
                      <li><a href="http://www.goizueta.emory.edu/"
                        target="_blank" title="Business School">Business School</a></li>
                      <li><a href="http://www.graduateschool.emory.edu/"
                        target="_blank" title="Graduate School">Graduate School</a></li>
                      <li><a href="http://www.law.emory.edu/" target="_blank"
                        title="School of Law">School of Law</a></li>
                      <li><a href="http://www.med.emory.edu/" target="_blank"
                        title="School of Medicine">School of Medicine</a></li>
                      <li><a href="http://www.nursing.emory.edu/"
                        target="_blank" title="School of Nursing">School of
                          Nursing</a></li>
                      <li><a href="http://www.sph.emory.edu/" target="_blank"
                        title="School of Public Health">School of Public Health</a></li>
                      <li><a href="http://www.candler.emory.edu/"
                        target="_blank" title="School of Theology">School of
                          Theology</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dd_parent"><a href="#" class="WhiteArrow">Libraries</a>
                <ul class="dd_content">
                  <li>
                    <h4>Libraries</h4>
                    <ul>
                      <li><a href="http://web.library.emory.edu/"
                        target="_blank" title="Robert W. Woodruff">Robert W.
                          Woodruff</a></li>
                      <li><a href="http://business.library.emory.edu/"
                        target="_blank" title="Business">Business</a></li>
                      <li><a
                        href="http://web.library.emory.edu/libraries/james-s-guy-chemistry-library"
                        target="_blank" title="Chemistry">Chemistry</a></li>
                      <li><a href="http://health.library.emory.edu/"
                        target="_blank" title="Health Sciences">Health Sciences</a></li>
                      <li><a href="http://library.law.emory.edu/"
                        target="_blank" title="Law">Law</a></li>
                      <li><a href="http://marbl.library.emory.edu/"
                        target="_blank" title="MARBL">MARBL</a></li>
                      <li><a
                        href="http://web.library.emory.edu/libraries/music-and-media"
                        target="_blank" title="Music and Media">Music &amp;
                          Media</a></li>
                      <li><a href="http://oxford.library.emory.edu/"
                        target="_blank" title="Oxford College">Oxford College</a></li>
                      <li><a href="http://www.pitts.emory.edu/"
                        target="_blank" title="Theology">Theology</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>Library Tools</h4>
                    <ul>
                      <li><a href="https://ereserves.library.emory.edu/reserves2/index.php"
                        target="_blank" title="Course Reserves">Course Reserves</a></li>
                      <li><a href="http://web.library.emory.edu/databases/"
                        target="_blank" title="Databases">Databases</a></li>
                      <li><a href="http://digitalscholarship.emory.edu/"
                        target="_blank" title="Digital Scholarship">Digital Scholarship (ECDS)</a></li>
                      <li><a href="http://discovere.emory.edu" target="_blank"
                        title="discoverE">discoverE</a></li>
                      <li><a href="http://ejournals.emory.edu/"
                        target="_blank" title="eJournals">eJournals</a></li>
                      <li><a href="https://etd.library.emory.edu/"
                        target="_blank" title="Electronic Dissertations">Electronic
                          Dissertations</a></li>
                      <li><a href="http://findingaids.library.emory.edu/"
                        target="_blank" title="EmoryFindingAids">EmoryFindingAids</a></li>
                      <li><a href="http://www.library.emory.edu/"
                        target="_blank" title="EUCLID (Library Catalog)">EUCLID</a></li>
                      <li><a
                        href="http://www.library.emory.edu/uhtbin/nph-illiad"
                        target="_blank" title="ILLiad">ILLiad</a></li>
                      <li><a href="https://open.library.emory.edu/"
                        target="_blank" title="OpenEmory">OpenEmory</a></li>
                      <li><a href="http://guides.main.library.emory.edu/"
                        target="_blank" title="Research Guides">Research Guides</a></li>
                    </ul>
                  </li>
                </ul></li>
              <li class="dd_parent"><a href="#" class="WhiteArrow">Resources</a>
                <ul class="dd_content">
                  <li>
                    <h4>Resources</h4>
                    <ul>
                      <li><a
                        href="http://www.emory.edu/home/about/administration/"
                        title="Administrative Offices">Administrative Offices</a></li>
                      <li><a href="http://www.emoryhealthcare.org/"
                        target="_blank" title="Emory Healthcare">Emory
                          Healthcare</a></li>
                      <li><a
                        href="http://registrar.emory.edu/Students/Calendars/"
                        target="_blank" title="Academic Calendars">Academic
                          Calendars</a></li>
                      <li><a href="http://emory.bncollege.com/"
                        target="_blank" title="Bookstore">Bookstore</a></li>
                      <li><a href="http://map.emory.edu/" target="_blank"
                        title="Campus Maps">Campus Maps</a></li>
                      <li><a href="http://transportation.emory.edu/"
                        target="_blank" title="Shuttles and Parking">Shuttles
                          and Parking</a></li>
                      <li><a href="http://www.emoryathletics.com/"
                        target="_blank" title="Athletics: Emory Eagles">Athletics:
                          Emory Eagles</a></li>
                      <li><a href="http://www.arts.emory.edu" target="_blank"
                        title="Arts at Emory">Arts at Emory</a></li>
                      <li><a href="http://www.carlos.emory.edu/"
                        target="_blank" title="Michael C. Carlos Museum">Michael
                          C. Carlos Museum</a></li>
                      <li><a href="http://news.emory.edu/" target="_blank"
                        title="Emory News Center">Emory News Center</a></li>
                      <li><a href="http://news.emory.edu/campus/index.html"
                        target="_blank" title="Emory Report">Emory Report</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>Resources</h4>
                    <ul>
                      <li><a
                        href="http://www.emory.edu/home/emergency/index.html" target="_blank"
                        title="Emergency Contacts">Emergency Contacts</a></li>
                      <li><a href="http://www.it.emory.edu/" target="_blank"
                        title="Computing">Information Technology (IT)</a></li>
                      <li><a href="https://owa.emory.edu/" target="_blank"
                        title="Outlook Web Access">Outlook Web Access</a></li>
                      <li><a href="http://it.emory.edu/student_community/office365/" target="_blank"
                        title="Office 365">Office 365</a></li>
                      <li><a
                        href="https://classes.emory.edu/webapps/portal/frameset.jsp"
                        target="_blank" title="Blackboard">Blackboard</a></li>
                      <li><a href="https://www.opus.emory.edu" target="_blank"
                        title="OPUS">OPUS</a></li>
                      <li><a href="https://compass-login.emory.edu/"
                        target="_blank" title="PeopleSoft Financials: Compass">PeopleSoft
                          Financials: Compass</a></li>
                      <li><a href="http://www.hr.emory.edu/careers/"
                        target="_blank" title="Careers">Careers</a></li>
                      <li><a href="http://www.hr.emory.edu/eu/"
                        target="_blank" title="Human Resources">Human Resources</a></li>
                      <li><a href="http://www.alumni.emory.edu//"
                        target="_blank" title="Emory Alumni Association">Emory Alumni Association</a></li>
                    </ul>
                  </li>
                </ul></li>
            </ul>
          </div>
          <div class="User">
            {% if user.is_authenticated %}
            <div class="userNav">
              <h4>Welcome,
                <span class="username">
                  < {% firstof user.first_name user.username %} ></span></h4>
              <p>(  {# FIXME: | separator logic? profile/admin links vary #}
                                                        {% if user.userprofile.has_profile_page %}
                                                          <a href="{% url 'accounts:profile' user.username %}">view dashboard</a>
                                                          | <a href="{% url 'accounts:profile' user.username %}#profile">view profile</a>
                                                        {% endif %}
                                                        {% if user.userprofile.has_profile_page and perms.harvest.view_harvestrecord or perms.publication.review_article %} | {% endif %}
                                                        {# link to admin dashboard for admins #}
                                                        {% if perms.harvest.view_harvestrecord or perms.publication.review_article %}
                                                        <a href="{% url 'accounts:admin-dashboard' %}">admin dashboard</a>
                                                        {% endif %}
                                                        | <a href="{% url 'accounts:logout' %}">logout</a> )</p>
            </div>
            {% else %}

            <div class="loginForm">
              <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                {{ LOGIN_FORM.username }} {{ LOGIN_FORM.password }} {{ LOGIN_FORM.password_text }}
                {% block login-next %}<input type="hidden" name="next" value="{{ request.path }}"/>{% endblock %}
{#              <input class="text" value="username or email" />  #}
{#              <input class="text" id="password" value="password" /> #}
                <input type="submit" class="button" value="Go" />
              </form>
            </div>
            {% endif %}
            <div class="clear"></div>
          </div>
          <div class="blueBar">
            <div class="left">
              <div class="right">
                <a name="navigation"></a>
                {% block nav %}
                <ul class="popUp menu">
                  <li>
                    <a href="#">
                      <span class="blueArrow">Browse</span>
                    </a>
                    <ul>
                      <li><a href="{% url 'publication:browse' 'authors' %}">Works by Author</a></li>
                      <li><a href="{% url 'publication:browse' 'journals' %}">Works by Journal</a></li>
                      <li><a href="{% url 'publication:browse' 'subjects' %}">Works by Subject</a></li>
                      <li><a href="{% url 'publication:list-departments' %}">Works by Dept</a></li>
                      <li><a href="{% url 'accounts:list-departments' %}">Faculty by Dept</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="{{ sitepages.getting_started.url }}">For Authors</a>
                    <ul>
                      <li><a href="{{ sitepages.howto_submit.url }}">{{ sitepages.howto_submit.title|default:"How to Submit" }}</a></li>
                      <li><a href="{{ sitepages.depositadvice.url }}">{{ sitepages.depositadvice.title|default:"Deposit Advice" }}</a></li>
                      <li><a href="{{ sitepages.author_rights.url }}">{{ sitepages.author_rights.title|default:"Author Rights" }}</a></li>
                      <li><a href="/publishing-your-data/">{{ sitepages.publishing_your_data.title|default:"Publishing Your Data" }}</a></li>
                      <li><a href="{{ sitepages.faq.url }}">{{ sitepages.faq.title|default:"FAQ" }}</a></li>
                      <li><a href="https://sco.library.emory.edu/open-access-publishing/emory-repositories/about-oa-policy.html" target="_blank">Emory Open Access Policy</a></li>
                      <li class="lastLi"><a href="http://sco.library.emory.edu/open-access-publishing/oa-funding-support/index.html">Open Access Fund</a></li>
                    </ul>
                  </li>
                  <li class="lastLi">
                    <a href="/about">About OpenEmory</a>
                    <ul>
                      <li><a href="/about">About OpenEmory</a></li>
                      <li><a href="{{ sitepages.staff.url }}">{{ sitepages.staff.title|default:"About Us" }}</a></li>
                      <li><a href="{{ sitepages.citing_openemory_content.url }}">{{ sitepages.citing_openemory_content.title|default:"Citing Articles" }}</a></li>
                      <li><a href="http://sco.library.emory.edu/about/staff.html" target="_blank">Contact Us</a></li>
                      <li><a href="http://web.library.emory.edu/about/privacy-policy/index.html " target="_blank">Privacy Policy</a></li>
                      <li><a href="{{ sitepages.terms.url }}">{{ sitepages.terms.title|default:"Terms of Use" }}</a></li>
                    </ul>
                  </li>
                </ul>
                {% endblock %}
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end wrapper-->
    </div>
    <!--end header-->
    {# NOTE: extend contentdivclass for extra class on content, e.g. home or document #}
    <div class="content {% block contentdivclass %}{% endblock %}" {% block contentattributes %}{% endblock %}>

      <div class="wrapper">
        <div class="subHeader">
          <div class="searchBox">
            {% comment %}
            NOTE: an advanced search feature does not yet exist, but the search box formatting requires
            the advanced link; simply hiding it for now, since we will enable it eventually.
            Original formatting from designers: <a href="#" class="advanced">> advanced search</a>
            {% endcomment %}
            <a href="#" tabindex="-1" class="advanced">&nbsp;</a>
            <div class="clear"></div>
            <form method="get" action="{% url 'publication:search' %}" id="search-form">
            {# .keyword: just output the input, not the label #}
            {% block search-form %}{{ ARTICLE_SEARCH_FORM.keyword }}{% endblock %}
            {# <input type=submit value=Search class=submit> #}
            {#<input class="text searchInput" value="Start searching here..." />#}
            <a href="#" class="button searchbtn" id='search-button'><span><span class="glass"></span></span></a>
            </form>
          </div>
          <div class="socialMedia">
            <div class="feedback">
              <a href="http://sco.library.emory.edu/about/staff.html" target="_blank" class="button">
                <span>Contact Us</span>
              </a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
        <a name="content"></a>

        {# pages that need content before the sidebar should extend content-head  #}
        {% block content-head %}{% endblock %}

        {% comment %}
        Messages after a user submitted a form on a previous page.
        Preliminary display at top of page so messages are visible.
        TODO: style this so it fits the design better
         (maybe a dialog that can be closed or fades out after a while?)
        {% endcomment %}
        {% block messages %}
        <div class="messages">
          {% block message-content %}
            {% if messages %}
              <ul id="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endblock %}
        </div>
        {% endblock %}

        {% comment %}
          Left Sidebar; includes Django messages.
            Pages with sidebar content should use sidebar-title and sidebar-content blocks.
            Pages with no sidebar should override sidebar block with no content,
              and should place the messages block elsewhere on the page.
        {% endcomment %}
        {% block sidebar %}
          <div class="left">
            <div class="top">
              <h1 class="shadow">{% block sidebar-title %}{% endblock sidebar-title %}</h1>
            </div>
            <div class="bottom">
              {% block sidebar-content %}{% endblock sidebar-content %}

        {% comment %} {# TODO: possible add user tags to bottom of site sidebar ? #}
              {% block user-tags %} {# FIXME: displaying this block breaks a bunch of tag-related tests #}
              {% if tags %}
              <hr/>
              <div id="user-tags">
                <h2 class="shadowLight">Your Tags</h2>
                <ul class="tags">
                {% for tag in tags %}
                   <li{% if forloop.last %} class="last"{% endif %}><a href="{% url 'accounts:tag' tag.slug %}">{{ tag.name }}</a> ({{ tag.count }})</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
              {% endblock %}
        {% endcomment %}
            </div>
            <div class="bottom" style="margin-top:1px; padding:0px;">
                {% block sidebar-content-2 %}{% endblock sidebar-content-2 %}
            </div>
          </div>
        {% endblock %}


        <!-- START CONTENT FOR INNER TEMPLATE -->
        {% comment %}
        NOTE: there does not seem to be a common content div.

        Home page layout has:
          <div class="slideshowCallouts"> ... </div>
          <div class="HomepageContent"> ... </div>

        Document page has:
          <div class="inner"> ... </div>
        {% endcomment %}
        {% block content %}{% endblock %}
        {% block content-foot %}{% endblock %}
      </div><!-- /.wrapper -->
    </div><!-- /.content -->

    <div class="footer">
      {% block footer-head %}

      <div class="wrapper first">
        <div id="site-stat-label">Site Statistics</div>
        <ul class="site-stat">
          <li class="stat-val">{{ ARTICLE_STATISTICS.total_articles|intcomma }}</li>
          <li class="stat-label">Total Work{{ ARTICLE_STATISTICS.total_articles|pluralize}}</li>
        </ul>
        <ul class="site-stat">
          <li class="stat-val">{{ ARTICLE_STATISTICS.total_downloads|intcomma }}</li>
          <li class="stat-label">Download{{ ARTICLE_STATISTICS.total_downloads|pluralize}}</li>
        </ul>
        <ul class="site-stat">
          <li class="stat-val">{{ ARTICLE_STATISTICS.year_downloads|intcomma }}</li>
          <li class="stat-label">Download{{ ARTICLE_STATISTICS.year_downloads|pluralize }} This Year</li>
        </ul>
        <ul class="site-stat">
          <li class="stat-val">{{ ACCOUNT_STATISTICS.total_users|intcomma }}</li>
          <li class="stat-label">Faculty Profile{{ ACCOUNT_STATISTICS.total_users|pluralize }}</li>
        </ul>
      </div>

      {% endblock %}
      <div class="wrapper second">
        <div class="leftCol">
          <p>Copyright © 2016 Emory
            University - All
            Rights Reserved<br />
            540 Asbury Circle,
            Atlanta, GA
            30322-2870<br /> (404)
            727-6861<br />
            <a href="http://web.library.emory.edu/about/privacy-policy/index.html" target="_blank">Privacy Policy</a>
            | <a href="{{ sitepages.terms.url }}">Terms &amp; Conditions</a></p>

            {% if SW_VERSION %}  {# FIXME: better place for version? #}
              <p id="version">v{{ SW_VERSION }}</p>
            {% endif %}

        </div>
        <div class="rightCol">
          <a href="http://sco.library.emory.edu/about/staff.html" target="_blank" class="button">
            <span>Contact Us</span>
          </a>
          <a href="{% url 'publication:summary' %}" class="button">
            <span>Recent and Popular Items</span>
          </a>
        </div>

      </div>

      {% if debug %} {# display sql queries for analysis + optimization #}
      <div id="debug" style="color: black;padding: 5px;"> {# TODO: debug.css ? #}
        <p>{{ sql_queries|length }} sql quer{{ sql_queries|pluralize:"y,ies" }}
        {% ifnotequal sql_queries|length 0 %}
        <a style="color: black" onClick="$('#sql-queries').toggle()">+</a>
        {% endifnotequal %}</p>
        <table id="sql-queries" style="display: none;">
          <col width="2%"></col>
          <col width="3%"></col>
          <col width="95%"></col>
          <tbody>
            {% for query in sql_queries %}<tr class="{% cycle 'odd' 'even' %}">
            <td>{{ query.time }}</td>
            <td>{{ query.db }}</td>
            <td>{{ query.sql|escape }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

      <!--end wrapper-->
      <a id="download_now">Download now</a> </div>{# FIXME: what is this? #}
    <!--end footer-->
  </div><!-- /.perimeter -->
  <!--end perimeter-->
</body>
</html>




{% comment %} TODO: sidebar in new design?
        {% block sidebar-left %}
          {% if tags %}
            <div id=user-tags class=block>
              <h2>Tags</h2>
              {% for tag in tags %}
                <p><a href="{% url 'accounts:tag' tag.slug %}">{{ tag.name }}</a> ({{ tag.count }})</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endblock %}
{% endcomment %}
