/* CSS for article metadata edit form */
.subform p.label {
    border-bottom: 3px double blue;
    font-weight: bold;
}
.subform .subform {
    margin-left: 2em;
}
.subform .subform p.label {
    border-bottom: 0px;
}
form p {
    margin: 5px;
}
label {
    display:inline-block;
    width: 5em;
}
input[type=text] {
    width: 80%;
}
textarea {
    width: 90%;
}

.pages input {
   width: 3em;
}

.pubdate input[type=text] {
    width: inherit;
}

#mark-reviewed label {
   width: auto;
}
#mark-reviewed {
  border-top: 2px solid black;
  margin: 8px 0px;
  padding: 5px 2px;
}

