/* CSS for article metadata edit form */

input.readonly {
  border: 0px;
  background-color: transparent;
  width: 90%;
  font-weight: inherit;
}

.formWrapper .error, .edit-profile .form-error {
    background-color: #ffff99;
    margin: 0px 3px 3px 0px;
}
.edit-profile .error input {
    background-color: #ffff99;
}
.error input, .error select {
  /*    border-bottom: 2px dashed red;*/
}

.errorlist {
    list-style-type: none;
    margin: 0px 0px 0px 5px;
    font-size: 85%;
}
.prepend-errors .errorlist {
    margin: 0px 13px 0px 0px;
    background-color: #ffff99;
    padding: 0px 13px;
}

/* override default altList height to accommodate input */
ul.altList.authors li {
    height: 32px;
}

.ui-autocomplete .description {
    display: block;
    text-indent: 2em;
    font-size: 85%;
    line-height: 10px;
}

#subjects .ui-autocomplete { /* make subject auto-complete scrollable */
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

li.ui-autocomplete-category {
  font-weight: bold;
  font-size: 90%;
  border-bottom: 1px solid gray;
}

#subject-autocomplete,  .author-autocomplete {
  width: 90%;
}

.sort-handle {
  float:left;
  text-decoration: none;
  display:inline-block;
  width: 1em;
  font-size: 115%;
  font-weight: bold;
  text-align: center;
  color: gray;
  cursor: move;
}

#publisher-copyright-status-value {
  font-weight: bold;
  color: #888;
}
#publisher-copyright-status-value.can {
  color: green;
}
#publisher-copyright-status-value.cannot {
  color: red;
}
#publisher-copyright-status-value.restricted {
  color: #cc0;
}

