/* CSS for article metadata edit form */

input.readonly {
  border: 0px;
  background-color: transparent;
  width: 90%;
  font-weight: inherit;
}

.error input {
    border-bottom: 2px dashed red;
}

/* override default altList height to accommodate input */
ul.altList.authors li {
    height: 32px;
}

.ui-autocomplete .description {
    display: block;
    text-indent: 2em;
    font-size: 85%;
}

#subjects .ui-autocomplete { /* make subject auto-complete scrollable */
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

li.ui-autocomplete-category {
  font-weight: bold;
  font-size: 90%;
  border-bottom: 1px solid gray;
}

#subject-autocomplete,  .author-autocomplete {
  width: 90%;
}