/* styles for search results */
.relevance {
  float: right;
  margin-top: 5px;
  border: 1px solid #4c4c4c;
  width: 50px;
  height: 8px;
  background-color: #eee;
}

.relevance .score {
  background-color: #002878;
  height: 8px;
}

.context-highlighting {
  color: #999;
  margin: 0.25em 0em 1em 1.5em;
  font-size: 90%;
}
.context-highlighting .match {
  color: #4c4c4c;
}
