{% extends "site_base.html" %}
{% load flatpages %}

{% block page-subtitle %}{{ block.super }} | {{ flatpage.title }}{% endblock %}

{% block content %}
{# NOTE: template based on article view, may need to change based on final design #}
<div class="inner">

  {# left sidebar - link all flat pages #}
  <div class="left">
    <div class="top">
      <h1 class="shadow">Related content</h1>
    </div>
    <div class="bottom">
      {# about pages #}
      {% get_flatpages '/about/' as about_pages %}
      {% with about_pages.0 as about %} {# FIXME: will main about page be reliably first ? #}
        <h2>{% if about.url == flatpage.url %}{{ about.title }}
            {% else %}<a href="{{ about.url }}">{{ about.title }}</a>{% endif %}</h2> 
      {% endwith %}
      <ul>
      {% for page in about_pages %}
        {% if page.url != '/about/' %}
          {% if page.url == flatpage.url %}
            <li>{{ page.title }}</li> {# don't link the current page #}
          {% else %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
         {% endif %}
      {% endfor %}
      </ul>

      {# how-to pages #}
      {% get_flatpages '/how-to/' as howto_pages %}
      {% with howto_pages.0 as howto %} {# FIXME: same order issue as for about #}
        <h2>{% if howto.url == flatpage.url %}{{ howto.title }}
            {% else %}<a href="{{ howto.url }}">{{ howto.title }}</a>{% endif %}</h2> 
      {% endwith %}
      <ul>
      {% for page in howto_pages %}
        {% if page.url != '/how-to/' %}
          {% if page.url == flatpage.url %}
            <li>{{ page.title }}</li> {# don't link the current page #}
          {% else %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>

      {% if perms.flatpages.change_flatpage or perms.flatpages.add_flatpage %}
      <hr/>
        {% if perms.flatpages.change_flatpage %}
          <p><a href="{% url admin:flatpages_flatpage_change flatpage.id %}">edit this page</a></p>
        {% endif %}
        {% if perms.flatpages.add_flatpage %}
          <p><a href="{% url admin:flatpages_flatpage_add %}">add a page</a></p>
        {% endif %}
      {% endif %}
    </div>
  </div>

<div class="right">
  <div class="top">
    <div class="left">
      <h1 class="shadow">{{ flatpage.title }}</h1>
      {{ flatpage.content }}
     </div>
  </div>

</div>


{# TODO: edit link for users with perms #}
</div>
{% endblock %}
