{% extends "site_base.html" %}
{% block page-subtitle %}{{ block.super }} | {{ flatpage.title }}{% endblock %}

{% block content %}
{# NOTE: template based on article view, may need to change based on final design #}
<div class="inner">

  {# left sidebar - link all flat pages #}
  <div class="left">
    <div class="top">
      <h1 class="shadow">Related content</h1>
    </div>
    <div class="bottom">
      {% include "flatpages/snippets/list_docs.html" %}

      {% if perms.flatpages.change_flatpage or perms.flatpages.add_flatpage %}
      <hr/>
        {% if perms.flatpages.change_flatpage %}
          <p><a href="{% url admin:flatpages_flatpage_change flatpage.id %}">edit this page</a></p>
        {% endif %}
        {% if perms.flatpages.add_flatpage %}
          <p><a href="{% url admin:flatpages_flatpage_add %}">add a page</a></p>
        {% endif %}
      {% endif %}
    </div>
  </div>

<div class="right">
  <div class="top">
    <div class="left">
      <h1 class="shadow">{{ flatpage.title }}</h1>
      {{ flatpage.content }}
     </div>
  </div>

</div>

</div>
{% endblock %}
