
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="{{ STATIC_URL }}favicon.ico" />

    <title>This site is currently undergoing some maintenance.</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>
      .jumbotron{
          margin-top:33%;
          margin-top:25vh;
      }
      @media (max-height:600px){
        .jumbotron{
          margin-top:3em;
        }
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>This site is currently undergoing some maintenance.</h1>
        <p class="lead">
          {% if banner.period.end_time %}
          <span>We should be back up and running {{banner.period.end_time}}</span>
          {% else %}
          <span> We are going to be down for a while. Please check back later.</span>
          {% endif %}
        </p>
      </div>

      <footer class="footer">
        <p>&copy; Emory University</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
