/* STYLESHEET SECTIONS
   CSS Flags marked with [=]
	 
	 QUICKVIEWS
	 
	 ....................................... */

/* =QUICKVIEWS
   ....................................... */

/* Slideshow ............................*/

/*
	Page style
*/


#container {
	width: 705px;
	height: 306px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

#example {
	width: 705px;
	height: 306px;
	position: relative;
}

#ribbon {
	position: absolute;
	top: -3px;
	left: -15px;
	z-index: 500;
}

#frame {
	position: absolute;
	z-index: 0;
	width: 705px;
	height: 306px;
	top: -3px;
	left: -80px;
}

/*
	Slideshow
*/

#slides {
	/*position: absolute;*/
  box-shadow: 2px 3px 4px #999;
	top: 0;
	left: 0;
	z-index: 100;
	width:705px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width: 705px;
	height: 225px;
	overflow: hidden;
	position: relative;
	display: none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width: 705px;
	height: 225px;
	display: block;
}

.slides_container a img {
	display: block;
}

/*
	Next/prev buttons
*/

#slides .next, #slides .prev {
	position: absolute;
	top: 107px;
	left: -39px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
}

#slides .next {
	left: 585px;
}

/*
	Pagination
*/

.pagination {
	margin: 5px 0 0;
	float: right;
}
.pagination li {
	float: left;
	margin: 0 1px;
	list-style: none;
}
.pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 12px;
	background-image: url(../fw/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}
.pagination li.current a {
	background-position: 0 -13px;
}


/* = TABS ..................................*/
/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	zoom: 1;
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *


/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	color: #333333;
}
.ui-widget-content a {
}
.ui-tabs-nav.ui-widget-header {
	border-bottom: 3px solid #002878;
}
.ui-widget-header a {
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: transparent url(../fw/tab_inactive.png) bottom left repeat-x;
	color: #333333;
		font-size:16px;
		text-shadow: 1px 1px 1px #fff;
		margin-top:3px;

line-height:18px;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: transparent url(../fw/tab_inactive.png)  bottom left repeat-x;
}
.ui-state-hover a, .ui-state-hover a:hover {
	text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #042870 url(../fw/tab_active.jpg) 50% 50% repeat-x;
	font-size:18px;
			text-shadow: 1px 1px 1px #000;
			margin-top:0;

}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #fff;
	
	text-decoration: none;
}
.ui-widget :active {
	outline: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
	color: #363636;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
	color: #ffffff;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}



/* Misc visuals
----------------------------------*/


/* Overlays */
.ui-widget-overlay {
	background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
	opacity: .50;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
	opacity: .20;
	filter: Alpha(Opacity=20);
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/*
 * jQuery UI Tabs 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs {
	position: relative;
	zoom: 1;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em 0 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
	bottom:-3px;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	bottom:0;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
border:3px solid #002878;
border-top:none transparent;
	padding: 1em 1.4em;
	background: #fff;
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:570px;
}

/* EUL addition: documents tab in faculty dashboard overlaps footer when max height is set */
.content.faculty .ui-tabs .ui-tabs-panel {
    max-height: none; 
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}

/*  UI Dialog classes
    ------------------------------------------------------------------- */
.dialog {
	position:absolute;
}
.ui-dialog 
{
    padding:20px;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:12px;
    color:#000;
    line-height:120%;
    position:relative;
    left:0 !important;
    top:0 !important;
}
.ui-dialog p.strong {
	font-weight:bold;
	text-align:center;
	margin-top:10px;
	font-size:12px;
	line-height:120%;
	color:#000;
}
.ui-dialog label {
	font-size:11px;
	color:#000;
	font-weight:normal;
	line-height:120%;
}
.ui-dialog-titlebar 
{
    display:none;
}
#dialog-form {
	width:250px !important;
}
#dialog-form .bottom {
	margin:0 0 10px;
}
#dialog-form fieldset {
	padding:0;
	margin: 10px 0 0;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	width:228px;
	border:0;
}
#dialog-form form#currentlyTagged .border {
    border:1px solid #000;
    background:#fff;
    padding:10px;
}
#dialog-form form#chooseTag fieldset {
	margin:0;
	padding:0;
}
#dialog-form form#chooseTag label:first-child {
	padding-top:10px;
}
#dialog-form .currentlyTagged {
}
#dialog-form .currentlyTagged p:first-child 
{
    font-weight:bold;
    padding-top:10px;
}
#dialog-form .currentlyTagged input 
{
    float:left;
}
#dialog-form .currentlyTagged label 
{
    display:block;
    margin-bottom:5px;
    font-size:11px;
    line-height:18px;
    color:#000;
    font-weight:normal;
}
#dialog-form input[type="checkbox"],
#dialog-form input.checkbox {
	margin:3px 5px 3px 0;
}
#dialog-form form#currentlyTagged input.submit {
	float:right;
	margin:10px 0;
}
#dialog-form .currentlyTagged hr {
	border-top:1px solid #fff;
	margin:1px 0 0;
	width:228px;
}
#dialog-form form#chooseTag select {
	width:228px;
	font-size:10px;
	line-height:100%;
}
#dialog-form form#chooseTag input#newTagName {
	width:222px; /* offset horizontal padding */
	padding:8px 3px;
}
.ui-dialog .ui-dialog-buttonset {
	margin-right:68px;
	padding-top:8px;
}
.ui-dialog .ui-dialog-buttonset .ui-button {
	float:right;
	margin-left:10px;
}
.ui-dialog .ui-button,
.ui-dialog input.submit {
	background: transparent url('../fw/button.jpg') repeat-x 0 0;
	padding:0 10px;
	height:21px;
	border:none;
	text-shadow:none;
	font-family:Verdana, Arial, Sans-Serif;
	cursor:pointer;
}
.ui-dialog .ui-button:hover,
.ui-dialog input.submit:hover {
	text-shadow:1px 0 1px #ACC1D2;
}
.ui-dialog .ui-button span.ui-button-text,
.ui-dialog input.submit {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	display:block;
	margin-top:-1px;
}
#dialog-form .bottom p {
	font-size:11px;
	line-height:120%;
	color:#000;
}
#dialog-form select {
	font-family:Verdana, Arial, Sans-Serif;
	font-size:10px;
	color:#000;
	line-height:100%;
}
#dialog-form .top {
	background:transparent url('../fw/ui-sprite.png') no-repeat 0 -344px;
	width:298px;
	height:8px;
}
#dialog-form .currentlyTagged { 
	background:transparent url('../fw/currentlyTagged.png') repeat-y -1px 0;
	width:298px;
}
#dialog-form .bottom {
	background:transparent url('../fw/ui-sprite.png') no-repeat 0 -363px;
	width:298px;
	height:194px;
}
#dialog-form .top,
#dialog-form .currentlyTagged,
#dialog-form .bottom {
	padding:0 0 0 20px
}
.content #tabs ul.ui-tabs-nav {
	margin-top:20px;
}

/*	accordian search filter	
	--------------------------------------*/
#accordion {
	margin-top:10px;
}
#accordion h1 a {
	display:block;
	font-size:14px;
	color:#666;
	text-shadow:1px 0 0 #fff;
	line-height:100%;
}
#accordion ul {
	background:#666;
	padding:10px;
	width:90%;
	margin-bottom:15px;
}
#accordion ul li a {
	color:#fff;
	line-height:25px;
	font-size:11px;
	text-decoration:none;
}
#accordion ul li a:hover {
	text-decoration:underline;
}

 /*Fix for FF Upload button*/
 input#id_pdf{margin-left: -25px !important;}