.editfield {
  display:none;
}
.autowidth {
  width: 100% !important;
}

.floatRight {
  float:right !important;
}

.editTrigger {
  margin-top: 30px;
}

.twoThirds {
  width: 66% !important;
}

.view h2 {
  float: left;
}
span.pencil {
  background: transparent url('/static/fw/ui-sprite.png') no-repeat 0 0;
  background-position: -737px -32px;
  height: 22px;
  width: 20px;
  margin-top: 0px;
  float: left;
  padding-right: 13px;
}

.content.faculty .profile .optional ul {
  margin: 0 0 20px;
}

ul.extlinks li input {
  padding: 3px;
}

li.link {
  list-style: none;
}