/*
  This is the CSS file for the site statistics that show
  on every page, being the first part of the footer.
*/

.footer .wrapper.first {
  background-color: #4d4d4d;
}

#site-stat-label, #acct-area-label {
  color: #cccccc;
  font-weight: normal;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.site-stat {
  float: left;

}

.stat-val {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  color: #f2f2f2;
}

.stat-label, .footer, .footer a {
  color: #cccccc;
  font-weight: normal;
}

.footer .wrapper.first ul li {
  margin: 0;
}

.footer .wrapper.first ul {
  margin: 0 4em 0 0 ;
}

#acct-area {
  margin-bottom: 1.75em;
}
